<div class="container">
  <div class="row">
    <div class="col-md-12 mt-4">
      <div class="card mt-3 mb-3 borderTable">
        <div class="col-12 d-flex justify-content-center">
          <img class="imageSobreBorde" [src]="'ConfiguracionObjetivoCalidad.png' | imageCdn">
        </div>
        <div class="row justify-content-center mt-4">

          <div class="col-12 titulo"> {{'MODULES.CONFIGURACIONOBJETIVOSANALITO.TITLE' | translate}}</div>

          <div class="col-11 boxFilterData">

            <form [formGroup]="formaBuscarDatos">

              <div class="form-row">

                <div class="col-lg-3 p-0 form-group">
                  <div role="group">
                    <mat-form-field class="sf-2">
                      <mat-label class="matLabelForm">{{'MODULES.CONFIGURACIONOBJETIVOSANALITO.FORMULARIO.SEDES'
                        | translate}}<span class="colorAsterisco"> *</span></mat-label>
                      <mat-select disableOptionCentering formControlName="numLaboratorio" class="form-control styleForm"
                        [disabled]="habilitarSede">
                        <mat-option value="">{{'MODULES.CONFIGURACIONOBJETIVOSANALITO.FORMULARIO.SELECCIONE' |
                          translate}}</mat-option>
                        <mat-option *ngFor="let sede of sedesActive" [value]="sede.idheadquarters">
                          {{ sede.desheadquarters | titlecase }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <small
                      *ngIf="formaBuscarDatos.get('numLaboratorio').errors?.required  && formaBuscarDatos.get('numLaboratorio').touched"
                      class="text-danger animated fadeIn">{{'MODULES.CAMPOS.CAMPOREQUIRED' |
                      translate}}</small>
                  </div>
                </div>

                <div class="col-lg-3 form-group">
                  <div role="group">
                    <mat-label class="matLabelForm" style="font-size: 17px !important; ">
                      {{'MODULES.CONFIGURACIONOBJETIVOSANALITO.FORMULARIO.SECCION'
                      | translate}}<span class="colorAsterisco"> *</span></mat-label>
                    <mat-form-field class="serial-tamanio" style="width:100% !important;">
                      <input type="text" matInput [matAutocomplete]="auto01" formControlName="seccion" #seccionPr
                        style="font-family: 'Open Sans' !important;font-size: 16px;">
                      <mat-autocomplete #auto01="matAutocomplete" (optionSelected)="cambiarSeccion(seccionPr.value)">
                        <mat-option *ngFor="let option of (filteredOptionsSections | async);"
                          [value]="option.namesection" [matTooltip]="option.namesection | NombreSeccion">
                          {{option.namesection | NombreSeccion}}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                    <small
                      *ngIf="formaBuscarDatos.get('seccion').errors?.required  && formaBuscarDatos.get('seccion').touched"
                      class="text-danger animated fadeIn">{{'MODULES.CAMPOS.CAMPOREQUIRED' |
                      translate}}</small>
                  </div>
                </div>

                <div class="col-lg-3 form-group">
                  <div role="group">
                    <mat-label class="matLabelForm" style="font-size: 17px !important; ">
                      {{'MODULES.CONFIGURACIONOBJETIVOSANALITO.FORMULARIO.NUMMATERIALCONTROL'
                      | translate}}<span class="colorAsterisco"> *</span></mat-label>
                    <mat-form-field class="serial-tamanio" style="width:100% !important;">
                      <input type="text" matInput [matAutocomplete]="auto02" formControlName="numMaterialControl"
                        #contmatPr style="font-family: 'Open Sans' !important;font-size: 16px;">
                      <mat-autocomplete #auto02="matAutocomplete"
                        (optionSelected)="cambiarControlMaterial(contmatPr.value)">
                        <mat-option *ngFor="let option of (filteredOptionsControlmaterial | async);"
                          [value]="option.descontmat" [matTooltip]="option.descontmat | NombreControlmaterial">
                          {{option.descontmat | NombreControlmaterial}}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                    <small
                      *ngIf="formaBuscarDatos.get('numMaterialControl').errors?.required  && formaBuscarDatos.get('numMaterialControl').touched"
                      class="text-danger animated fadeIn">{{'MODULES.CAMPOS.CAMPOREQUIRED' |
                      translate}}</small>
                  </div>
                </div>

                <div class="col-lg-3 form-group">
                  <div role="group">
                    <mat-label class="matLabelForm" style="font-size: 17px !important; ">
                      {{'MODULES.CONFIGURACIONOBJETIVOSANALITO.FORMULARIO.NUMLOTE'
                      | translate}}<span class="colorAsterisco"> *</span></mat-label>
                    <mat-form-field class="serial-tamanio" style="width:100% !important;">
                      <input type="text" matInput [matAutocomplete]="auto03" formControlName="numLote" #lotPr
                        style="font-family: 'Open Sans' !important;font-size: 16px;">
                      <mat-autocomplete #auto03="matAutocomplete" (optionSelected)="lotesPre(lotPr.value)">
                        <mat-option *ngFor="let option of (filteredOptionsLots | async);" [value]="option.Numlot" [matTooltip]="option.Numlot | nombreLote">
                          {{option.Numlot | nombreLote}}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                    <small
                      *ngIf="formaBuscarDatos.get('numLote').errors?.required  && formaBuscarDatos.get('numLote').touched"
                      class="text-danger animated fadeIn">{{'MODULES.CAMPOS.CAMPOREQUIRED' |
                      translate}}</small>
                  </div>
                </div>

              </div>


              <div class="form-row animate__animated animate__fadeIn fast" *ngIf="tests.length !== 0">

                <div class="col-lg-12 p-0 form-group">
                  <div role="group">
                    <mat-form-field class="sf-2">
                      <mat-label class="matLabelForm">{{'MODULES.CONFIGURACIONOBJETIVOSANALITO.FORMULARIO.TEST'
                        | translate}}<span class="colorAsterisco"> *</span></mat-label>
                      <mat-select disableOptionCentering class="form-control styleForm" formControlName="idtest"
                        (selectionChange)="setTest($event)">
                        <mat-option value="">{{'MODULES.CONFIGURACIONOBJETIVOSANALITO.FORMULARIO.SELECCIONE' |
                          translate}}</mat-option>
                        <mat-option *ngFor="let test of tests" [value]="test.IdTest">
                          {{ test.Desanalytes | titlecase }} | {{ test.Desunits }} |
                          {{ test.Desmethods | titlecase }} | {{ test.Desreagents | titlecase }} |
                          {{ test.NameAnalyzer | titlecase }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-lg-3 boxBtnSearch">
                  <button class="boton btnSearch animate__animated animate__fadeIn fast" type="button"
                    (click)="loadData()" *ngIf="verBtn">{{'MODULES.CONFIGURACIONOBJETIVOSANALITO.FORMULARIO.BOTON' |
                    translate}}</button>
                </div>
              </div>
            </form>
          </div>

          <div class="col-11" *ngIf="ver">
            <div class="row mt-4">
              <div class="col-lg-6 boxBtn form-group">
                <button class="boton btnCreate animate__animated animate__fadeIn fast" type="button"
                  (click)="openModalRegistroConfiObj(templateRegistroConfiObj, '')">{{'MODULES.DEPARTAMENTOS.BOTONCREAR'
                  | translate}}</button>
              </div>

              <div class="col-lg-6 boxFilter">
                <i class="fa fa-search"></i>
                <mat-form-field class="filter">
                  <mat-label>{{'MODULES.FILTER.LABEL' | translate}}</mat-label>
                  <input matInput (keyup)="applyFilter($event)"
                    placeholder="{{'MODULES.FILTER.PLACEHOLDER' | translate}}" #input>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="col-11 animate__animated animate__fadeIn fast boxTable" [hidden]="!ver">
            <table mat-table [dataSource]="dataSource" class="table-responsive" matSort>
              <ng-container matColumnDef="idsource">
                <th style="width: 200px;" mat-header-cell *matHeaderCellDef mat-sort-header>
                  {{'MODULES.CONFIGURACIONOBJETIVOSANALITO.COLUMNS.ANALITO' | translate}} </th>
                <td mat-cell *matCellDef="let row"> {{row.Desanalytes | titlecase }} </td>
              </ng-container>

              <ng-container matColumnDef="idtest">
                <th style="width: 180px;" mat-header-cell *matHeaderCellDef mat-sort-header>
                  {{'MODULES.CONFIGURACIONOBJETIVOSANALITO.COLUMNS.FUENTE' | translate}} </th>
                <td mat-cell *matCellDef="let row"> {{row.Dessource}} </td>
              </ng-container>

              <ng-container matColumnDef="desunits">
                <th style="width: 100px;" mat-header-cell *matHeaderCellDef mat-sort-header>
                  {{'MODULES.CONFIGURACIONOBJETIVOSANALITO.COLUMNS.UNIDADES' | translate}} </th>
                <td mat-cell *matCellDef="let row"> {{row.Desunits}} </td>
              </ng-container>

              <ng-container matColumnDef="etmp">
                <th style="width: 100px;" mat-header-cell *matHeaderCellDef mat-sort-header>
                  {{'MODULES.CONFIGURACIONOBJETIVOSANALITO.COLUMNS.ETMP' | translate}} </th>
                <td mat-cell *matCellDef="let row"> {{row.Etmp}} </td>
              </ng-container>

              <ng-container matColumnDef="cvmp">
                <th style="width: 150px;" mat-header-cell *matHeaderCellDef mat-sort-header>
                  {{'MODULES.CONFIGURACIONOBJETIVOSANALITO.COLUMNS.SESGO' | translate}} </th>
                <td mat-cell *matCellDef="let row"> {{row.Sesgomp}} </td>
              </ng-container>

              <ng-container matColumnDef="level">
                <th style="width: 150px;" mat-header-cell *matHeaderCellDef mat-sort-header>
                  {{'MODULES.CONFIGURACIONOBJETIVOSANALITO.COLUMNS.LEVEL' | translate}} </th>
                <td mat-cell *matCellDef="let row"> {{row.Level}} </td>
              </ng-container>

              <ng-container matColumnDef="datemod">
                <th style="width: 150px;" mat-header-cell *matHeaderCellDef mat-sort-header>
                  {{'MODULES.CONFIGURACIONOBJETIVOSANALITO.COLUMNS.ULTACTUALIZACION' | translate}}
                </th>
                <td mat-cell *matCellDef="let row"> {{row.Datemod | date: 'dd-MM-yyyy':'+0000'}} </td>
              </ng-container>

              <ng-container matColumnDef="username">
                <th style="width: 150px;" mat-header-cell *matHeaderCellDef mat-sort-header>
                  {{'MODULES.CONFIGURACIONOBJETIVOSANALITO.COLUMNS.RESPONSABLE' | translate}} </th>
                <td mat-cell *matCellDef="let row"> {{row.Username | titlecase}} </td>
              </ng-container>

              <ng-container matColumnDef="active">
                <th style="width: 100px;" mat-header-cell *matHeaderCellDef>
                  {{'MODULES.CONFIGURACIONOBJETIVOSANALITO.COLUMNS.ESTADO' | translate}}</th>
                <td mat-cell *matCellDef="let row">
                  <mat-slide-toggle [checked]="row.Active" (change)="actualizarConfiObjEstado(row)"></mat-slide-toggle>

                </td>
              </ng-container>
              <ng-container matColumnDef="editar">
                <th style="width: 100px;" mat-header-cell *matHeaderCellDef>
                  {{'MODULES.CONFIGURACIONOBJETIVOSANALITO.COLUMNS.EDITAR' | translate}}</th>
                <td mat-cell *matCellDef="let row">
                  <img [src]="'imagenEditar.png' | imageCdn"
                    (click)="openModalRegistroConfiObjEdit(templateRegistroConfiObjEdit, row)" style="cursor: pointer;">
                </td>
              </ng-container>

              <ng-container matColumnDef="eliminar">
                <th style="width: 100px;" mat-header-cell *matHeaderCellDef>
                  {{'MODULES.CONFIGURACIONOBJETIVOSANALITO.COLUMNS.ELIMINAR' | translate}}</th>
                <td mat-cell *matCellDef="let row; let i = index;">
                  <img [src]="'imagenEliminar.png' | imageCdn" (click)=" eliminarConfiAnalito(row.Idconfobjquaanalyte)"
                    style="cursor: pointer;">
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #templateRegistroConfiObj>

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeVentana()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="row">
      <div class="col flex2">

        <img *ngIf="accionEditar" class="img" [src]="'edit.png' | imageCdn">
        <img *ngIf="!accionEditar" class="img" [src]="'crear2.png' | imageCdn">
        <h3 class="tituloModal">{{tituloAccion}}</h3>
        <div class="hr"></div>
      </div>
    </div>

    <form [formGroup]="formaRegistroConfiObj" (ngSubmit)="crearEditarConfiObj()">
      <div class="form-row">
        <div class="col-sm-5 form-group">
          <div role="group">
            <mat-label class="matLabelForm" style="font-size: 16px !important;">{{'MODULES.CONFIGURACIONOBJETIVOSANALITO.FORMULARIO.FUENTE'
              | translate}}<span class="colorAsterisco"> *</span></mat-label>
            <mat-form-field class="serial-tamanio " style="width: 230px !important;">
              <input type="text" matInput [matAutocomplete]="autosourcecreate" formControlName="idsource"
                style="font-family: 'Open Sans' !important;font-size: 16px;">
              <mat-autocomplete #autosourcecreate="matAutocomplete">
                <mat-option *ngFor="let fuente of filteredOptionsSourcesCreate | async" [value]="fuente.dessource" [matTooltip]="fuente.dessource"
                            (onSelectionChange)="cambioDeFuente(fuente,$event,1)">
                  {{ fuente.dessource}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <small *ngIf="idsourceNoValido.invalid  && idsourceNoValido.touched"
              class="text-danger animated fadeIn fast">{{'MODULES.CAMPOS.CAMPOREQUIRED' |
              translate}}</small>
          </div>
        </div>

        <div class="col-sm-5 form-group">
          <div role="group">
           
            <mat-label class="matLabelForm" style="font-size: 16px !important;">{{'MODULES.CONFIGURACIONOBJETIVOSANALITO.FORMULARIO.UNIDADES'
              | translate}}<span class="colorAsterisco"> *</span></mat-label>
            <mat-form-field class="serial-tamanio " style="width: 230px !important;">
              <input type="text" matInput [matAutocomplete]="autounitscreate" formControlName="idunits"
                style="font-family: 'Open Sans' !important;font-size: 16px;">
              <mat-autocomplete #autounitscreate="matAutocomplete">
                <mat-option *ngFor="let units of filteredOptionsUnitsCreate | async" [value]="units.desunits" [matTooltip]="units.desunits">
                  {{ units.desunits}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <small *ngIf="idunitsNoValido.invalid  && idunitsNoValido.touched"
              class="text-danger animated fadeIn fast">{{'MODULES.CAMPOS.CAMPOREQUIRED' |
              translate}}</small>
          </div>
        </div>

        <div class="col-sm-2 form-group">
          <div role="group">
            <label class="labelForm" for="etmp">{{'MODULES.CONFIGURACIONOBJETIVOSANALITO.FORMULARIO.ETMP' |
              translate}}<span class="colorAsterisco"> *</span></label>
            <input formControlName="etmp" type="number" class="form-control"
              [ngClass]="accion == 'Crear' ? 'styleForm' : 'styleForm2'" id="etmp" autocomplete="off">

            <small *ngIf="etmpNoValido.errors?.required  && etmpNoValido.touched"
              class="text-danger animated fadeIn fast">{{'MODULES.CAMPOS.CAMPOREQUIRED' |
              translate}}</small>
            <small *ngIf="etmpNoValido.errors?.min" class="text-danger animated fadeIn fast">{{'MODULES.CAMPOS.MIN_0' |
              translate}}</small>

          </div>
        </div>

        <div class="col-sm-3 form-group">
          <div role="group">
            <label class="labelForm" for="cvmp">{{'MODULES.CONFIGURACIONOBJETIVOSANALITO.FORMULARIO.CVMP' |
              translate}}<span class="colorAsterisco"> *</span></label>
            <input formControlName="cvmp" type="number" class="form-control"
              [ngClass]="accion == 'Crear' ? 'styleForm' : 'styleForm2'" id="cvmp" autocomplete="off">

            <small *ngIf="cvmpNoValido.errors?.required  && cvmpNoValido.touched"
              class="text-danger animated fadeIn fast">{{'MODULES.CAMPOS.CAMPOREQUIRED' |
              translate}}</small>
            <small *ngIf="cvmpNoValido.errors?.min" class="text-danger animated fadeIn fast">{{'MODULES.CAMPOS.MIN_0' |
              translate}}</small>

          </div>
        </div>

        <div class="col-sm-3 form-group">
          <div role="group">
            <label class="labelForm" for="sesgomp">{{'MODULES.CONFIGURACIONOBJETIVOSANALITO.FORMULARIO.SESGO' |
              translate}}<span class="colorAsterisco"> *</span></label>
            <input formControlName="sesgomp" type="number" class="form-control"
              [ngClass]="accion == 'Crear' ? 'styleForm' : 'styleForm2'" id="sesgomp" autocomplete="off">

            <small *ngIf="sesgompNoValido.errors?.required  && sesgompNoValido.touched"
              class="text-danger animated fadeIn fast">{{'MODULES.CAMPOS.CAMPOREQUIRED' |
              translate}}</small>
            <small *ngIf="sesgompNoValido.errors?.min" class="text-danger animated fadeIn fast">{{'MODULES.CAMPOS.MIN_0'
              | translate}}</small>

          </div>
        </div>

        <div class="col-sm-3 form-group">
          <div role="group">
            <label class="labelForm" for="level">{{'MODULES.CONFIGURACIONOBJETIVOSANALITO.FORMULARIO.NIVEL' |
              translate}}<span class="colorAsterisco"> *</span></label>
            <input formControlName="level" type="number" class="form-control"
              [ngClass]="accion == 'Crear' ? 'styleForm' : 'styleForm2'" id="level" autocomplete="off">

            <small *ngIf="levelNoValido.errors?.required  && levelNoValido.touched"
              class="text-danger animated fadeIn fast">{{'MODULES.CAMPOS.CAMPOREQUIRED' |
              translate}}</small>
            <small *ngIf="levelNoValido.errors?.min" class="text-danger animated fadeIn fast">{{'MODULES.CAMPOS.MIN' |
              translate}}</small>
            <small *ngIf="levelNoValido.errors?.max" class="text-danger animated fadeIn fast">{{'MODULES.CAMPOS.MAXTRES'
              | translate}}</small>

          </div>
        </div>

        <div class="col-sm-3 form-group btnActive">
          <div role="group">
            <label for="active" class="labelForm">{{'MODULES.CONFIGURACIONOBJETIVOSANALITO.FORMULARIO.ESTADO' |
              translate}}</label><br>
            <mat-slide-toggle formControlName="active"></mat-slide-toggle>
          </div>
        </div>

      </div>
      <div class="form-row">
        <div class="col-12 boxBtnAceptCancel">
          <button [disabled]="desactivar" class="boton btnAceptar" type="submit">{{'MODULES.BOTONACEPTAR' |
            translate}}</button>
          <button class="botonCancelar btnCancel" type="button" (click)="closeVentana()">{{'MODULES.BOTONCANCELAR' |
            translate}}</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #templateRegistroConfiObjEdit>

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeVentana()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="row">
      <div class="col flex2">
        <img *ngIf="accionEditar" class="img" [src]="'edit.png' | imageCdn">
        <img *ngIf="!accionEditar" class="img" [src]="'crear2.png' | imageCdn">
        <h3 class="tituloModal">{{tituloAccion}}</h3>
        <div class="hr"></div>
      </div>
    </div>

    <form [formGroup]="formaRegistroConfiObjEdit" (ngSubmit)="crearEditarConfiObjEdit()">
      <div class="form-row">
        <div class="col-sm-5 form-group">
          <div role="group">
            <mat-label class="matLabelForm" style="font-size: 16px !important;">{{'MODULES.CONFIGURACIONOBJETIVOSANALITO.FORMULARIO.FUENTE'
              | translate}}<span class="colorAsterisco"> *</span></mat-label>
            <mat-form-field class="serial-tamanio ">
              <input type="text" matInput [matAutocomplete]="autosource" formControlName="idsource"
                style="font-family: 'Open Sans' !important;font-size: 16px;" >
              <mat-autocomplete #autosource="matAutocomplete">
                <mat-option *ngFor="let fuente of filteredOptionssourceEdit | async" (onSelectionChange)="cambioDeFuente(fuente,$event,2)" [value]="fuente.dessource" [matTooltip]="fuente.dessource">
                  {{ fuente.dessource}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <small *ngIf="idsourceNoValidoEdit.invalid  && idsourceNoValidoEdit.touched"
              class="text-danger animated fadeIn fast">{{'MODULES.CAMPOS.CAMPOREQUIRED' |
              translate}}</small>
          </div>
        </div>

        <div class="col-sm-5 form-group">
          <div role="group">
            
            <mat-label class="matLabelForm" style="font-size: 16px !important;">{{'MODULES.CONFIGURACIONOBJETIVOSANALITO.FORMULARIO.UNIDADES'
              | translate}}<span class="colorAsterisco"> *</span></mat-label>
            <mat-form-field class="serial-tamanio ">
              <input type="text" matInput [matAutocomplete]="autounit" formControlName="idunits"
                style="font-family: 'Open Sans' !important;font-size: 16px;">
              <mat-autocomplete #autounit="matAutocomplete">
                <mat-option *ngFor="let unit of filteredOptionsunitsEdit | async" [value]="unit.desunits" [matTooltip]="unit.desunits">
                  {{ unit.desunits}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
            <small *ngIf="idunitsNoValidoEdit.invalid  && idunitsNoValidoEdit.touched"
              class="text-danger animated fadeIn fast">{{'MODULES.CAMPOS.CAMPOREQUIRED' |
              translate}}</small>
          </div>
        </div>

        <div class="col-sm-2 form-group">
          <div role="group">
            <label class="labelForm" for="etmp">{{'MODULES.CONFIGURACIONOBJETIVOSANALITO.FORMULARIO.ETMP' |
              translate}}<span class="colorAsterisco"> *</span></label>
            <input formControlName="etmp" type="number" class="form-control"
              [ngClass]="accion == 'Crear' ? 'styleForm' : 'styleForm2'" id="etmp" autocomplete="off">

            <small *ngIf="etmpNoValidoEdit.errors?.required  && etmpNoValidoEdit.touched"
              class="text-danger animated fadeIn fast">{{'MODULES.CAMPOS.CAMPOREQUIRED' |
              translate}}</small>
            <small *ngIf="etmpNoValidoEdit.errors?.min"
              class="text-danger animated fadeIn fast">{{'MODULES.CAMPOS.MIN_0' |
              translate}}</small>

          </div>
        </div>

        <div class="col-sm-3 form-group">
          <div role="group">
            <label class="labelForm" for="cvmp">{{'MODULES.CONFIGURACIONOBJETIVOSANALITO.FORMULARIO.CVMP' |
              translate}}<span class="colorAsterisco"> *</span></label>
            <input formControlName="cvmp" type="number" class="form-control"
              [ngClass]="accion == 'Crear' ? 'styleForm' : 'styleForm2'" id="cvmp" autocomplete="off">

            <small *ngIf="cvmpNoValidoEdit.errors?.required  && cvmpNoValidoEdit.touched"
              class="text-danger animated fadeIn fast">{{'MODULES.CAMPOS.CAMPOREQUIRED' |
              translate}}</small>
            <small *ngIf="cvmpNoValidoEdit.errors?.min"
              class="text-danger animated fadeIn fast">{{'MODULES.CAMPOS.MIN_0' |
              translate}}</small>

          </div>
        </div>

        <div class="col-sm-3 form-group">
          <div role="group">
            <label class="labelForm" for="sesgomp">{{'MODULES.CONFIGURACIONOBJETIVOSANALITO.FORMULARIO.SESGO' |
              translate}}<span class="colorAsterisco"> *</span></label>
            <input formControlName="sesgomp" type="number" class="form-control"
              [ngClass]="accion == 'Crear' ? 'styleForm' : 'styleForm2'" id="sesgomp" autocomplete="off">

            <small *ngIf="sesgompNoValidoEdit.errors?.required  && sesgompNoValidoEdit.touched"
              class="text-danger animated fadeIn fast">{{'MODULES.CAMPOS.CAMPOREQUIRED' |
              translate}}</small>
            <small *ngIf="sesgompNoValidoEdit.errors?.min"
              class="text-danger animated fadeIn fast">{{'MODULES.CAMPOS.MIN_0'
              | translate}}</small>
          </div>
        </div>

        <div class="col-sm-3 form-group">
          <div role="group">
            <label class="labelForm" for="level">{{'MODULES.CONFIGURACIONOBJETIVOSANALITO.FORMULARIO.NIVEL' |
              translate}}<span class="colorAsterisco"> *</span></label>
            <input formControlName="level" type="number" class="form-control"
              [ngClass]="accion == 'Crear' ? 'styleForm' : 'styleForm2'" id="level" autocomplete="off">

            <small *ngIf="levelNoValidoEdit.errors?.required  && levelNoValidoEdit.touched"
              class="text-danger animated fadeIn fast">{{'MODULES.CAMPOS.CAMPOREQUIRED' |
              translate}}</small>
            <small *ngIf="levelNoValidoEdit.errors?.min" class="text-danger animated fadeIn fast">{{'MODULES.CAMPOS.MIN'
              |
              translate}}</small>
            <small *ngIf="levelNoValidoEdit.errors?.max"
              class="text-danger animated fadeIn fast">{{'MODULES.CAMPOS.MAXTRES'
              | translate}}</small>
          </div>
        </div>
        <div class="col-sm-3 form-group btnActive">
          <div role="group">
            <label for="active" class="labelForm">{{'MODULES.CONFIGURACIONOBJETIVOSANALITO.FORMULARIO.ESTADO' |
              translate}}</label><br>
            <mat-slide-toggle formControlName="active"></mat-slide-toggle>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-12 boxBtnAceptCancel">
          <button [disabled]="desactivar" class="boton btnAceptar" type="submit">{{'MODULES.BOTONACEPTAR' |
            translate}}</button>
          <button class="botonCancelar btnCancel" type="button" (click)="closeVentana()">{{'MODULES.BOTONCANCELAR' |
            translate}}</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Por favor, espere.</p>
</ngx-spinner>