#fondo {
    background: url("../../../../assets/imagenes/fondo.jpg") #2c2d31 no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

label {
    font-size: 18px;
    font-weight: 600;
}

ul {
    padding: 0 !important;
}

.login {
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border: 1px solid #fff;
    border-radius: 0rem;
    background-color: transparent !important;
    color: #fff !important;
}

.form-control {
    background-color: transparent !important;
}

a.recuperacionContrasena {
    font-size: 14px;
    cursor: pointer;
    color: #fff;
}

.btn-link {
    font-weight: 400;
    color: white !important;
}

button#botonLogin {
    border-radius: 25px;
    border-color: #fff;
    font-size: 17px;
    color: white;
}

.plhCustom::placeholder {
    color: white;
    font-style: italic;
    font-size: 15px;
}

.ngx-select__toggle {
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    background-color: transparent !important;
    align-items: stretch;
    background-color: transparent !important;
    border-color: white;
    color: white !important;
    display: inline-flex;
    justify-content: space-between;
    outline: 0;
    position: relative;
}

.ngx-select__item_active {
    background-color: var(--purple-01) !important;
    color: white !important;
}

.ngx-select__choices,
.dropdown-menu {
    background-color: white;
}

.btn2 {
    margin-top: 16px;
}

.contImg {
    width: 100%;
    text-align: center;
}

.contAlerta {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.hover {
    cursor: pointer;
}

.title {
    text-align: center;
    margin: 0;
    margin-bottom: 16px;
}

.contAlerta .alerta {
    background-color: var(--purple-01);
    display: flex;
    width: auto;
    padding: 4px;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 14px;
    margin: 0;
    margin: 0px 4px !important;
}

form {
    padding: 8px;
}

.logo {
    width: 70%;
    margin-bottom: 40px;
}

@media (min-width: 320px) {
    .box {
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 992px) {
    .box {
        justify-content: flex-end;
    }
    .contForm {
        margin-right: 40px;
    }
}

.estrow {
    margin-right: 10px;
    /* no colocar un nombre de clase (row) ya que este estilo afecta los demas componentes*/
}