<div id="fondo" class="row m-0 d-flex d-flex justify-content-end align-items-center">
  <div class="col-md-7 col-xl-5 mt-ur padding">
    <div class="row d-flex justify-content-center align-items-center margenes">

      <form id="fondoFormulario" [formGroup]="recuperarContrasena" class="col-7 mr-3"
        (ngSubmit)="restaurarContrasena()">
        <div class="row form-group flex4">
          <img src="../../assets/imagenes/logoAnnarQC_blanco.png" class="imagen">
          <p>&nbsp;<br><br></p>
        </div>
        <div class="col-md-12 text-center mt-4">
          <h1 class="mb-4">{{'MODULES.RESTA_CONTRA.TITULO' | translate}}</h1>
        </div>
        <div class="mt-5">
          <div role="group">
            <label>{{'MODULES.RESTA_CONTRA.INGRE_CONTRA' | translate}}</label>
            <input formControlName="passActual" class="form-control resContra" type="password">
            <div class="contAlerta animate__animated animate__fadeIn fast"
              *ngIf="recuperarContrasena.get('passActual').errors?.required  && recuperarContrasena.get('passActual').touched">
              <div class="alerta">
                <img src="../../../../assets/imagenes/info.png" alt="info" class="icono" />
                <p>{{'MODULES.CAMPOS.CAMPOREQUIRED' | translate}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-3">
          <label>{{'MODULES.RESTA_CONTRA.NUEVA_CONTRA' | translate}}</label>
          <input formControlName="pass" class="form-control resContra" type="password">
          <div class="contAlerta animate__animated animate__fadeIn fast"
            *ngIf="recuperarContrasena.get('pass').errors?.required  && recuperarContrasena.get('pass').touched">
            <div class="alerta">
              <img src="../../../../assets/imagenes/info.png" alt="info" class="icono" />
              <p>{{'MODULES.CAMPOS.CAMPOREQUIRED' | translate}}</p>
            </div>
          </div>
        </div>
        <div class="mt-3">
          <label>{{'MODULES.RESTA_CONTRA.CONFI_CONTRA' | translate}}</label>
          <input formControlName="ConfirmPass" class="form-control resContra" type="password">

          <div class="contAlerta animate__animated animate__fadeIn fast"
              *ngIf="recuperarContrasena.get('ConfirmPass').errors?.required  && recuperarContrasena.get('ConfirmPass').touched">
              <div class="alerta">
                <img src="../../../../assets/imagenes/info.png" alt="info" class="icono" />
                <p>{{'MODULES.CAMPOS.CAMPOREQUIRED' | translate}}</p>
              </div>

            </div>


          <div class="contAlerta animate__animated animate__fadeIn fast"
          *ngIf="checarSiSonIguales()">
          <div class="alerta">
            <img src="../../../../assets/imagenes/info.png" alt="info" class="icono" />
            <p>Las contraseñas no coinciden</p>
          </div>

        </div>


        </div>
        <div class="col-mb-12 form-group text-center mt-5">
          <button id="cancelar" type="submit" class="btn">
            {{'MODULES.RESTA_CONTRA.BOTON' | translate}}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
