<div id="fondo">

  <div class="row boxForm">

    <div class="col-12">

      <form id="fondoFormulario" [formGroup]="formulario">
        <div class="row form-group flex4">
          <img src="../../assets/imagenes/logoAnnarQC_blanco.png" class="logo">
          <p>&nbsp;<br><br></p>
        </div>
        <div class="row">
          <div class="col-12 mb-4 form-group">
            <div role="group">
              <label for="">{{'MODULES.OLVIDOCLAVE.TITLE' | translate}}</label>
              <input formControlName="username" class="form-control username" type="text"
                placeholder="{{'MODULES.OLVIDOCLAVE.FORMULARIO.PLACEHOLDER' | translate}}">
              <!-- alert -->
              <div class="contAlerta animate__animated animate__fadeIn fast"
                *ngIf="formulario.get('username').errors?.required  && formulario.get('username').touched">
                <div class="alerta">
                  <img src="../../../../assets/imagenes/info.png" alt="info" />
                  <p>{{'MODULES.CAMPOS.CAMPOREQUIRED' | translate}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row form-group boxBtns">
          <button id="cancelar" [routerLink]="['/login/login']" type="button" class="btn">
            {{'MODULES.OLVIDOCLAVE.FORMULARIO.CANCELAR' | translate}}
          </button>
          <button id="enviar" (click)="ingresar()" type="submit" class="btn action">
            {{'MODULES.OLVIDOCLAVE.FORMULARIO.ENVIAR' | translate}}
          </button>
        </div>
      </form>

    </div>

  </div>


</div>
