<div class="container">
  <div class="row">
    <div class="col-md-12 mt-4">
      <div class="card mt-3 mb-3 borderTable">
        <div class="col-12 d-flex justify-content-center">
          <img class="imageSobreBorde" [src]="'criteriosAceptacion.png' | imageCdn">
        </div>
        <div class="row justify-content-center mt-4">

          <div class="col-12 titulo"> {{'MODULES.DATOSABERRANTES.TITLE' | translate}}</div>

          <div class="col-11 spin" *ngIf="spinner">
            <div class="spinner-border text-primary" role="status"></div>
          </div>

          <div class="col-11 col-lg-8 col-xl-7">

            <div class="row boxBtnFilter">

              <div class="col-sm-4 boxBtnCreate form-group">
                <button class="boton btnCreate animate__animated animate__fadeIn fast" type="button"
                  (click)="openModalRegistroDatosaberrantes(templateRegistroDatosAberrantes, '')">{{'MODULES.DEPARTAMENTOS.BOTONCREAR'
                                    | translate}}</button>
              </div>


              <div class="col-sm-8 boxFilter">
                <i class="fa fa-search"></i>
                <mat-form-field class="filter">
                  <mat-label>{{'MODULES.FILTER.LABEL' | translate}}</mat-label>
                  <input matInput (keyup)="applyFilter($event)"
                    placeholder="{{'MODULES.FILTER.PLACEHOLDER' | translate}}" #input>
                </mat-form-field>
              </div>

            </div>

          </div>

          <div class="col-11 col-lg-8 col-xl-7">

            <table mat-table [dataSource]="dataSource" class="table-responsive" matSort>

              <ng-container matColumnDef="participantes">
                <th style="width: 450px;" mat-header-cell *matHeaderCellDef mat-sort-header>
                  {{'MODULES.DATOSABERRANTES.COLUMNS.NUMPAR' | translate}}</th>
                <td mat-cell *matCellDef="let row"> {{row.participants}} </td>
              </ng-container>

              <ng-container matColumnDef="zscore">
                <th style="width: 450px;" mat-header-cell *matHeaderCellDef mat-sort-header>
                  {{'MODULES.DATOSABERRANTES.COLUMNS.ZSCORE' | translate}}</th>
                <td mat-cell *matCellDef="let row"> {{row.zscore}} </td>
              </ng-container>

              <ng-container matColumnDef="active">
                <th style="width: 200px;" mat-header-cell *matHeaderCellDef>
                  {{'MODULES.DATOSABERRANTES.COLUMNS.ESTADO' | translate}}</th>
                <td mat-cell *matCellDef="let row">
                  <mat-slide-toggle [checked]="row.active" (change)="actualizarCAEstado(row)"></mat-slide-toggle>
                </td>
              </ng-container>
              <ng-container matColumnDef="editar">
                <th style="width: 200px;" mat-header-cell *matHeaderCellDef>
                  {{'MODULES.CRITERIOS_ACEPTACION.COLUMNS.EDITAR' | translate}}</th>
                <td mat-cell *matCellDef="let row">
                  <img [src]="'imagenEditar.png' | imageCdn"
                    (click)="openModalRegistroDatosaberrantes(templateRegistroDatosAberrantes, row)"
                    style="cursor: pointer;">
                </td>
              </ng-container>

              <ng-container matColumnDef="eliminar">
                <th style="width: 200px;" mat-header-cell *matHeaderCellDef>
                  {{'MODULES.CRITERIOS_ACEPTACION.COLUMNS.ELIMINAR' | translate}}</th>
                <td mat-cell *matCellDef="let row; let i = index;">
                  <img [src]="'imagenEliminar.png' | imageCdn" (click)="eliminarCA(row.Idacceptancerequirements)"
                    style="cursor: pointer;">
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #templateRegistroDatosAberrantes>

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeVentana()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">

    <div class="row">

      <div class="col flex2">

        <img *ngIf="accionEditar" class="img" [src]="'edit.png' | imageCdn">
        <img *ngIf="!accionEditar" class="img" [src]="'crear2.png' | imageCdn">
        <h3 class="tituloModal">{{tituloAccion}}</h3>
        <div class="hr"></div>

      </div>

    </div>

    <form [formGroup]="formaRegistroDatosAberrantes" (ngSubmit)="crearEditarCA()">
      <div class="form-row">

        <div class="col-sm-5 form-group">
          <div role="group">
            <label class="labelForm" for="level">{{'MODULES.DATOSABERRANTES.FORMULARIO.NUMPAR' | translate}}<span
                class="colorAsterisco"> *</span></label>
            <input formControlName="participants" type="number" class="form-control"
              [ngClass]="accion == 'Crear' ? 'styleForm' : 'styleForm2'" autocomplete="off" style="width: 80%;">

            <small *ngIf="participantsNoValido.errors?.required  && participantsNoValido.touched"
              class="text-danger animated fadeIn fast">{{'MODULES.CAMPOS.CAMPOREQUIRED' |
                            translate}}</small>
          </div>
        </div>

        <div class="col-sm-5 form-group">
          <div role="group">
            <label class="labelForm" for="zscore">{{'MODULES.DATOSABERRANTES.FORMULARIO.ZSCORE' |
                            translate}}<span class="colorAsterisco"> *</span></label>
            <input formControlName="zscore" type="number" class="form-control"
              [ngClass]="accion == 'Crear' ? 'styleForm' : 'styleForm2'" autocomplete="off" style="width: 80%;">
            <small *ngIf="zscoreNoValido.invalid  && zscoreNoValido.touched" class="text-danger animated fadeIn fast">{{'MODULES.CAMPOS.CAMPOREQUIRED' |
                            translate}}</small>
          </div>
        </div>

        <div class="col-sm-2 form-group btnActive">
          <div role="group">
            <label class="labelForm" for="active">{{'MODULES.DATOSABERRANTES.FORMULARIO.ESTADO' |
                            translate}}</label><br>
            <mat-slide-toggle formControlName="active"></mat-slide-toggle>
          </div>
        </div>

      </div>

      <div class="form-row">
        <div class="col-12 boxBtnAceptCancel">
          <button [disabled]="desactivar" class="boton btnAceptar"
            type="submit">{{'MODULES.BOTONACEPTAR' | translate}}</button>
          <button class="botonCancelar btnCancel" type="button"
            (click)="closeVentana()">{{'MODULES.BOTONCANCELAR' | translate}}</button>
        </div>
      </div>

    </form>
  </div>
</ng-template>
