<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 mt-4">
            <div class="card mt-3 mb-3 borderTable">
                <div class="col-12 d-flex justify-content-center">
                    <img class="imageSobreBorde" [src]="'IngresoDatos.png' | imageCdn">
                </div>
                <div class="row">
                    <div class="col p-3" style="height: 40px;">
                        <img class="ml-3" style="cursor: pointer;" [src]="'home_icon.svg' | imageCdn" [hidden]="homeBtnHide" (click)="getHome()">
                    </div>
                </div>

                <!-- ***Pagina de filtros -->
                <div class="row justify-content-center mt-4">

                    <div class="col-12 titulo">{{'MODULES.INGRESODATOS_CUALITATIVOS.TITLE' | translate}}</div>
                    <p class="col-12 ml-5" style="color: #6B4B8B; font-size: 18px; font-weight: bolder; margin-top: 38px;" [hidden]="!homeBtnHide">Entrada de datos por prueba/única</p>

                    <!-- cont form filter -->
                    <div class="col-11 formFilter" [hidden]="!homeBtnHide">

                        <form [formGroup]="formFiltro" autocomplete="off" (submit)="getTest()">

                            <div class="form-row">

                                <div class="col-sm-6 col-lg-3 form-group">
                                    <div role="group">
                                        <mat-form-field class="sf-2">
                                            <mat-label class="matLabelForm" style="font-size: 17px !important;">
                                                {{'MODULES.INGRESODATOS.FORMULARIO.SEDES' | translate}}
                                            </mat-label>
                                            <mat-select #sedeselect disableOptionCentering class="form-control styleForm" formControlName="sede" disabled style="color: #B5B4B4 !important; border-bottom-color:#B5B4B4;">
                                                <!-- <mat-option value="">
                                                    {{'MODULES.INGRESODATOS.FORMULARIO.SELECCIONE' | translate}}
                                                </mat-option> -->
                                                <mat-option *ngFor="let sede of sedes" [value]="sede.Idheadquarters">
                                                    {{ sede.Desheadquarters }}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>


                                <div class="col-sm-6 col-lg-3 form-group">
                                    <div role="group">
                                        <mat-label class="matLabelForm" style="font-size: 17px !important;">
                                            {{'MODULES.INGRESODATOS.FORMULARIO.SECTION' | translate}}<span class="colorAsterisco"> *</span>
                                        </mat-label>
                                        <mat-form-field class="serial-tamanio" style="width:100% !important;">
                                            <input type="text" matInput  [matAutocomplete]="auto01" formControlName="seccion"   #seccionPr style="font-family: 'Open Sans' !important;font-size: 16px;" >
                                            <mat-autocomplete #auto01="matAutocomplete" (optionSelected)="cambiarSeccion(seccionPr.value)">
                                                <mat-option *ngFor="let option of (filteredOptionsSections | async);" [value]="option.namesection" [matTooltip]="option.namesection | NombreSeccion">
                                                  
                                                    {{option.namesection | NombreSeccion}}
                                                </mat-option>
                                            </mat-autocomplete>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-lg-3 form-group">
                                    <div role="group">
                                        <mat-label class="matLabelForm" style="font-size: 17px !important;">
                                            {{'MODULES.INGRESODATOS.FORMULARIO.NUMMATERIALCONTROL' | translate}}<span class="colorAsterisco"> *</span>
                                        </mat-label>
                                        <mat-form-field class="serial-tamanio" style="width:100% !important;">
                                            <input type="text" matInput  [matAutocomplete]="auto02" formControlName="material"  #contmatPr style="font-family: 'Open Sans' !important;font-size: 16px;" >
                                            <mat-autocomplete #auto02="matAutocomplete" (optionSelected)="cambiarControlMaterial(contmatPr.value)">
                                                <mat-option *ngFor="let option of (filteredOptionsControlmaterial | async);" [value]="option.descontmat" [matTooltip]="option.descontmat | NombreControlmaterial">
                                                  
                                                    {{option.descontmat | NombreControlmaterial}}
                                                </mat-option>
                                            </mat-autocomplete>
                                          </mat-form-field>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-lg-2 form-group">
                                    <div role="group">
                                        <mat-label class="matLabelForm" style="font-size: 17px !important; ">
                                            {{'MODULES.INGRESODATOS.FORMULARIO.NUMLOTE' | translate}}<span class="colorAsterisco"> *</span>
                                        </mat-label>
                                        <mat-form-field class="serial-tamanio" style="width:100% !important;">
                                            <input type="text" matInput  [matAutocomplete]="auto03" formControlName="lote"  #lotPr style="font-family: 'Open Sans' !important;font-size: 16px;" >
                                            <mat-autocomplete #auto03="matAutocomplete" (optionSelected)="lotesPre(lotPr.value)">
                                                <mat-option *ngFor="let option of (filteredOptionsLots | async);" [value]="option.Numlot" [matTooltip]="option.Numlot | nombreLote">
                                                    {{option.Numlot | nombreLote}}
                                                </mat-option>
                                            </mat-autocomplete>
                                          </mat-form-field>
                                    </div>
                                </div>

                                <div class="col-sm-6 col-lg-1 boxBtnGT">
                                    <button class="boton rounded-circle float-right" type="submit" style="width: 33px !important;" [disabled]="btnChkDisabled">
                                        <i class="fa fa-check"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- Panel imagen y lista test -->
                    <div class="col-11 formFilter" [hidden]="!homeBtnHide">

                        <div class="form-row">
                            <div class="col-12">
                                <div class="card mb-3 borderTable" [ngClass]="selectionTestHide ? 'p-4': 'p-3 p-sm-3 p-md-3 p-lg-4 p-lx-4'" style="border-radius: 10px !important;">

                                    <!-- **Pagina de Selecion -->

                                    <div class="row justify-content-center" [hidden]="!selectionTestHide">
                                        <div class="col-6 text-center styleVer">
                                            <div class="row">
                                                <div class="col-12">
                                                    <i class="fas fa-angle-up styleIcon"></i>
                                                </div>
                                                <div class="col-12">

                                                    <span class="txt-label">Selecciona los datos de <br> filtros para continuar</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6 styleVer">
                                            <img [src]="'ingreso.png' | imageCdn" alt="Reporte cuantitativo" style="width: 80%;">
                                        </div>
                                    </div>

                                    <!-- **Pagina con Lista de Test -->

                                    <div class="row justify-content-center" [hidden]="selectionTestHide">
                                        <div class="col-12 text-center styleVer">



                                            <form [formGroup]="formGroupTable" *ngIf="levels.length > 0">

                                                <div formGroupName="levels">

                                                    <table class="table table-sm table-borderless table-responsive-ab center">
                                                        <thead>
                                                            <tr>
                                                                <td class="py-0" style="text-align: left !important;width: 60%;min-width: 300px;">
                                                                    <p class="table-label"><strong>Test</strong></p>
                                                                </td>
                                                                <td class="py-0" style="text-align: right !important;">
                                                                    <p class="table-label text-nowrap"><strong>Nivel 1</strong></p>
                                                                </td>
                                                                <td class="py-0" style="text-align: right !important;">
                                                                    <p class="table-label text-nowrap"><strong>Nivel 2</strong></p>
                                                                </td>
                                                                <td class="py-0" style="text-align: right !important;">
                                                                    <p class="table-label text-nowrap"><strong>Nivel 3</strong></p>
                                                                </td>
                                                                <td class="py-0" style="text-align: right !important;">

                                                                </td>
                                                            </tr>
                                                        </thead>
                                                        <tbody *ngFor="let test of tests; let i = index;">
                                                            <tr>
                                                                <td class="py-0" style="text-align: left !important;">
                                                                    <div class="d-inline-flex">
                                                                        <div class="dot text-center d-none d-sm-none d-md-none d-lg-block d-xl-block"><span class="number">{{i + 1}}</span></div>
                                                                        <span class="line"> 
                                                                    {{ test.Desanalytes | titlecase }} | {{ test.Desunits }} | {{ test.Desmethods | titlecase }} | {{ test.Desreagents | titlecase }} | {{ test.NameAnalyzer | titlecase }}
                                                                </span>
                                                                    </div>
                                                                </td>
                                                                <td class="py-0" style="text-align: right !important;">
                                                                    <div formGroupName="{{'group-'+i}}">
                                                                        <!-- Select -->
                                                                        <div role="group" *ngIf="test.Level <= 3" [hidden]="!crearsi">

                                                                            <mat-form-field class="sf-2">
                                                                                <mat-select disableOptionCentering class="form-control styleForm" formControlName="lvl1" (selectionChange)="setTestDataLvl(test, i)">
                                                                                    <mat-option value="">
                                                                                        {{'MODULES.INGRESODATOS.FORMULARIO.SELECCIONE' | translate}}
                                                                                    </mat-option>
                                                                                    <mat-option *ngFor="let resultado of test.resultadosNvl1" [value]="resultado.Idresultsdictionary">
                                                                                        {{ resultado.Desresults | titlecase }}
                                                                                    </mat-option>
                                                                                </mat-select>
                                                                            </mat-form-field>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td class="py-0" style="text-align: right !important;">
                                                                    <div formGroupName="{{'group-'+i}}">
                                                                        <!-- Select -->
                                                                        <div role="group" *ngIf="test.Level == 3 || test.Level == 2" [hidden]="!crearsi">

                                                                            <mat-form-field class="sf-2">
                                                                                <mat-select disableOptionCentering class="form-control styleForm" formControlName="lvl2" (selectionChange)="setTestDataLvl(test, i)">
                                                                                    <mat-option value="">
                                                                                        {{'MODULES.INGRESODATOS.FORMULARIO.SELECCIONE' | translate}}
                                                                                    </mat-option>
                                                                                    <mat-option *ngFor="let resultado of test.resultadosNvl2" [value]="resultado.Idresultsdictionary">
                                                                                        {{ resultado.Desresults | titlecase }}
                                                                                    </mat-option>
                                                                                </mat-select>
                                                                            </mat-form-field>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td class="py-0" style="text-align: right !important;">
                                                                    <div formGroupName="{{'group-'+i}}">
                                                                        <!-- Select -->
                                                                        <div role="group" *ngIf="test.Level == 3" [hidden]="!crearsi">

                                                                            <mat-form-field class="sf-2">
                                                                                <mat-select disableOptionCentering class="form-control styleForm" formControlName="lvl3" (selectionChange)="setTestDataLvl(test, i)">
                                                                                    <mat-option value="">
                                                                                        {{'MODULES.INGRESODATOS.FORMULARIO.SELECCIONE' | translate}}
                                                                                    </mat-option>
                                                                                    <mat-option *ngFor="let resultado of test.resultadosNvl3" [value]="resultado.Idresultsdictionary">
                                                                                        {{ resultado.Desresults | titlecase }}
                                                                                    </mat-option>
                                                                                </mat-select>
                                                                            </mat-form-field>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td class="py-0 text-nowrap">
                                                                    <button id="test-{{i}}" class="rounded-circle border-0 mr-2" type="button" style="width: 29px !important; background: none;" disabled (click)="openEditarTestModal(editarTestModal, test)">
                                                                        <img id="btnEdit" class="noactive" [src]="'ellipsis-icon.png' | imageCdn" style="width: 26px;">
                                                                    </button>

                                                                    <button class="rounded-circle border-0" type="button" style="width: 29px !important; background: none;" (click)="[byTest(test.IdTest, true),arrImages=[]]">
                                                                         <img id="btnEdit" class="noactive" [src]="'increase-icon.png' | imageCdn" style="width: 26px;">                                                               
                                                                    </button>
                                                                </td>

                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </form>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ** Boton Guardar -->
                        <div class="form-row mt-3" *ngIf="tests.length > 0">

                            <div class="col-12 boxBtnAceptCancel" [hidden]="selectionTestHide">
                                <button type="button" class="boton btnAceptar mt-0" style="width: 100px !important;" [ngClass]="{ 'off' : btnDisabled }" [disabled]="btnDisabled" (click)="crearEditarFromTable()">
                                    Guardar
                                </button>

                            </div>
                        </div>

                    </div>

                </div>

                <!-- **Pagina de graficas -->

                <div class="row justify-content-center mt-4">
                    <!-- infoprueba -->
                    <div class="col-11 boxInfo" *ngIf="verInfoprueba">

                        <h1>{{'MODULES.INGRESODATOS.FORMULARIO.INFOGENERAL' | translate}}</h1>

                        <div class="row">

                            <div class="col-xl-3">
                                <p><i class="fas fa-circle mr-2"></i>{{'MODULES.INGRESODATOS.INFOPRUEBA.SECCION' | translate}}: {{ dataTable[0].Namesection | uppercase }}</p>
                                <p><i class="fas fa-circle mr-2"></i>{{'MODULES.INGRESODATOS.INFOPRUEBA.LABORATORIO' | translate}}: {{ dataTable[0].Codheadquarters }}</p>
                                <p><i class="fas fa-circle mr-2"></i>{{'MODULES.INGRESODATOS.INFOPRUEBA.REGLASWESTGARD' | translate}}: {{ reglasW }}</p>
                            </div>

                            <div class="col-xl-3">
                                <p><i class="fas fa-circle mr-2"></i>{{ mediaLvl1 }}</p>
                                <p><i class="fas fa-circle mr-2"></i>{{ mediaLvl2 }}</p>
                                <p><i class="fas fa-circle mr-2"></i>{{ mediaLvl3 }}</p>
                            </div>

                            <div class="col-xl-3">
                                <p><i class="fas fa-circle mr-2"></i>{{'MODULES.INGRESODATOS.INFOPRUEBA.MC' | translate}}: {{ dataTable[0].Descontmat }}</p>
                                <p><i class="fas fa-circle mr-2"></i>{{'MODULES.INGRESODATOS.INFOPRUEBA.LOTE' | translate}}: {{ dataTable[0].Numlot }}</p>
                                <p><i class="fas fa-circle mr-2"></i>{{'MODULES.INGRESODATOS.INFOPRUEBA.EQUIPO' | translate}}: {{ dataTable[0].NameAnalyzer }}</p>
                            </div>

                            <div class="col-xl-3">
                                <p><i class="fas fa-circle mr-2"></i>{{'MODULES.INGRESODATOS.INFOPRUEBA.FECHA' | translate}}: {{ dataTable[0].Expdate | date: 'dd-MM-yyyy' }}</p>
                                <p><i class="fas fa-circle mr-2"></i>{{'MODULES.INGRESODATOS.INFOPRUEBA.UNIDADMEDIDA' | translate}}: {{ dataTable[0].Desunits }}</p>
                                <p><i class="fas fa-circle mr-2"></i>{{'MODULES.INGRESODATOS.INFOPRUEBA.REACTIVO' | translate}}: {{ dataTable[0].Desreagents }}</p>
                            </div>

                        </div>

                    </div>

                    <!-- caja general -->
                    <div class="col-11" [hidden]="!ver">


                        <!-- options -->
                        <div class="row boxOptions">

                            <div class="col boxTitles" (click)="option('levey')" [ngClass]="{'otherClass' : opcion == 1}">Levey Jennings</div>
                            <div class="col boxTitles" (click)="option('tabla')" [ngClass]="{'otherClass' : opcion == 2}">Tabla de datos</div>

                        </div>

                        <!-- levey jennings -->
                        <div class="row animate__animated animate__fadeIn fast" *ngIf="opcion == 1">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 boxForm mt-2" >

                                <h3>Analito: {{ analito }}</h3>
                                <h3>{{ usuario }}</h3>

                                <h4>Valores</h4>

                                <div>

                                    <form [formGroup]="formularioDatos" autocomplete="off" class="w-form">

                                        <div class="form-row" style="max-width: 230px;">

                                            <div class="col-4 form-group">
                                                <div role="group">
                                                    <mat-form-field class="sf-2">
                                                        <mat-label class="matLabelForm">{{ 'MODULES.INGRESODATOS.FORMULARIO.NIVEL1' | translate }}
                                                        </mat-label>
                                                        <mat-select disableOptionCentering class="form-control styleForm" formControlName="resultlevel1">
                                                            <mat-option value="">
                                                                {{'MODULES.INGRESODATOS.FORMULARIO.SELECCIONE' | translate}}
                                                            </mat-option>
                                                            <mat-option *ngFor="let resultado of resultadosNvl1" [value]="resultado.Idresultsdictionary">
                                                                {{ resultado.Desresults }}
                                                            </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </div>

                                            <div class="col-4 form-group" *ngIf="levelTest >= 2">
                                                <div role="group">
                                                    <mat-form-field class="sf-2">
                                                        <mat-label class="matLabelForm">{{ 'MODULES.INGRESODATOS.FORMULARIO.NIVEL2' | translate }}
                                                        </mat-label>
                                                        <mat-select disableOptionCentering class="form-control styleForm" formControlName="resultlevel2">
                                                            <mat-option value="">
                                                                {{'MODULES.INGRESODATOS.FORMULARIO.SELECCIONE' | translate}}
                                                            </mat-option>
                                                            <mat-option *ngFor="let resultado of resultadosNvl2" [value]="resultado.Idresultsdictionary">
                                                                {{ resultado.Desresults }}
                                                            </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </div>

                                            <div class="col-4 form-group" *ngIf="levelTest == 3">
                                                <div role="group">
                                                    <mat-form-field class="sf-2">
                                                        <mat-label class="matLabelForm">{{ 'MODULES.INGRESODATOS.FORMULARIO.NIVEL3' | translate }}
                                                        </mat-label>
                                                        <mat-select disableOptionCentering class="form-control styleForm" formControlName="resultlevel3">
                                                            <mat-option value="">
                                                                {{'MODULES.INGRESODATOS.FORMULARIO.SELECCIONE' | translate}}
                                                            </mat-option>
                                                            <mat-option *ngFor="let resultado of resultadosNvl3" [value]="resultado.Idresultsdictionary">
                                                                {{ resultado.Desresults }}
                                                            </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </div>

                                            <div class="col-12 form-group">
                                                <div role="group">
                                                    <label for="comments" class="labelForm">{{'MODULES.INGRESODATOS.FORMULARIO.COMENTARIOS' |
                                            translate}}</label>
                                                    <input type="text" formControlName="comments" class="form-control styleForm" id="comments">
                                                </div>
                                            </div>
                                            <!--*ngIf="showAC"  -->
                                            <div class="col-12 form-group" >
                                                <div role="group">
                                                    <mat-form-field class="sf-2">
                                                        <mat-label class="matLabelForm" for="idcorrectiveactions">
                                                            {{'MODULES.INGRESODATOS.FORMULARIO.ACCIONCORECTIVA' | translate}}
                                                        </mat-label>

                                                        <mat-select disableOptionCentering formControlName="idcorrectiveactions" class="form-control styleForm">
                                                            <mat-option value="">{{'MODULES.INGRESODATOS.FORMULARIO.SELECCIONE' | translate}}
                                                            </mat-option>
                                                            <mat-option *ngFor="let listaAccion of listaAccionesC" [value]="listaAccion.idcorrectiveactions">
                                                                {{ listaAccion.descorrectiveactions }}
                                                            </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div class="contBtn" [hidden]="!crearsi">
                                    <button type="button" class="boton" [ngClass]="{ 'off' : formularioDatos.invalid }" [disabled]="formularioDatos.invalid || desactivar" (click)="crearEditar()">{{ 'MODULES.INGRESODATOS.FORMULARIO.APLICAR' | translate }}</button>
                                    <button type="button" class="btnClean ml-2" (click)="buildForm('',false)">{{ 'MODULES.INGRESODATOS.FORMULARIO.LIMPIAR' | translate }}</button>
                                </div>

                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-9 mt-2" >
                                <div class="col-12">
                                    <div class="col-12">
                                        <!-- ** Boton calendar -->
                                        <button type="button" class="mt-0 float-right mr-3 border-0 bg-white" 
                                            style="width: 35px!important; top: 1em; right:7.5rem ; position: relative; z-index: 2;"  
                                            (click)="openGraficaModal(calendarModal)">
                                            <img style="width: 35px; margin-bottom: 1px;" [src]="'calendar-icon.png' | imageCdn"> 
                                        </button>
                                        <!-- ** Boton PDF -->
                                        <button type="button" class="mt-0 float-right mr-3 border-0 bg-white" 
                                                style="width: 35px!important; top: 1em; right: 12.5em; position: relative; z-index: 2;" 
                                                (click)="pdfInterno()">
                                            <img style="width: 100px; margin-bottom: 1px;" src="assets/imagenes/pdf.png" class="pdf" >
                                        </button>
                                    </div>

                                </div>
                                <!-- ** Graficas LJ -->
                                <div class="boxCharts">
                                    <app-cualitativos-nivel-uno (grafica1C)="imagenesGrafica($event,1)" *ngIf="dataTable.length >= 2"></app-cualitativos-nivel-uno>
                                    <app-cualitativos-nivel-dos (grafica2C)="imagenesGrafica($event,2)" *ngIf="levelTest >= 2 && dataTable.length >= 2"></app-cualitativos-nivel-dos>
                                    <app-cualitativos-nivel-tres (grafica3C)="imagenesGrafica($event,3)" *ngIf="levelTest == 3 && dataTable.length >= 2"></app-cualitativos-nivel-tres>
                                </div>

                            </div>
                        </div>

                        <!-- tables -->
                        <div class="col-12 boxTables" [hidden]="opcion != 2">

                            <img  [src]="'descargar_Excel.png' | imageCdn" alt="Reporte cuantitativo" style="height: 30px;cursor: pointer;margin-top: 1rem;margin-bottom: 1rem;margin-left: 80%;" (click)="exportToExcelTabledata()">


                            <table mat-table [dataSource]="dataSource" class="table-responsive" matSort #tabla3="matSort" *ngIf="dataSource">
                                <ng-container matColumnDef="num">
                                    <th style="min-width: 100px; width: 100px;" mat-header-cell *matHeaderCellDef rowspan="2">
                                        {{'MODULES.INGRESODATOS.COLUMNS.IT' | translate}} </th>
                                    <td mat-cell *matCellDef="let row; index as i">
                                        {{ TablaTresPaginator.pageSize * TablaTresPaginator.pageIndex + i + 1}}</td>
                                </ng-container>
                                <ng-container matColumnDef="date">
                                    <th style="min-width: 130px; width: 130px;" mat-header-cell *matHeaderCellDef rowspan="2">
                                        {{'MODULES.INGRESODATOS.COLUMNS.FECHA' | translate}} </th>
                                    <td mat-cell *matCellDef="let row"> {{row.Date | date: 'dd-MM-yyyy'}} </td>
                                </ng-container>
                                <ng-container matColumnDef="hour">
                                    <th style="min-width: 200px; width: 200px;" mat-header-cell *matHeaderCellDef rowspan="2">
                                        {{'MODULES.INGRESODATOS.COLUMNS.HORA' | translate}} </th>
                                    <td mat-cell *matCellDef="let row"> {{row.Hour}} </td>
                                </ng-container>
                                <ng-container matColumnDef="summer">
                                    <th mat-header-cell *matHeaderCellDef colspan="2" style="min-width: 200px; width: 200px;">
                                        {{'MODULES.INGRESODATOS.COLUMNS.NIVEL1' | translate}}</th>
                                    <td mat-cell *matCellDef="let company;let i = dataIndex"></td>
                                </ng-container>
                                <ng-container matColumnDef="valuelevel1">
                                    <th style="min-width: 130px; width: 130px;" mat-header-cell *matHeaderCellDef mat-sort-header>
                                        {{'MODULES.INGRESODATOS.COLUMNS.VALOR' | translate}} </th>
                                    <td mat-cell *matCellDef="let row">
                                        <b>{{ row.Resultcharlevel1 }}</b> </td>
                                </ng-container>
                                <ng-container matColumnDef="arlevel1">
                                    <th style="min-width: 130px; width: 130px;" mat-header-cell *matHeaderCellDef> {{'MODULES.INGRESODATOS.COLUMNS.AR' | translate}}
                                    </th>
                                    <td mat-cell *matCellDef="let row">
                                        <i *ngIf="row.Arlevel1 == 'R'" class="fas fa-times-circle botonTimesCircle" title="Rechazado"></i>
                                        <i *ngIf="row.Arlevel1 == 'A'" class="fas fa-check-circle botonCheckCircle" title="Aceptado"></i>
                                </ng-container>
                                <ng-container matColumnDef="summer2">
                                    <th mat-header-cell *matHeaderCellDef colspan="2" style="min-width: 200px; width: 200px;">
                                        {{'MODULES.INGRESODATOS.COLUMNS.NIVEL2' | translate}}</th>
                                    <td mat-cell *matCellDef="let company;let i = dataIndex"></td>
                                </ng-container>
                                <ng-container matColumnDef="valuelevel2">
                                    <th style="min-width: 130px; width: 130px;" mat-header-cell *matHeaderCellDef mat-sort-header>
                                        {{'MODULES.INGRESODATOS.COLUMNS.VALOR' | translate}} </th>
                                    <td mat-cell *matCellDef="let row">
                                        <b>{{ row.Resultcharlevel2 }}</b> </td>
                                </ng-container>
                                <ng-container matColumnDef="arlevel2">
                                    <th style="min-width: 130px; width: 130px;" mat-header-cell *matHeaderCellDef> {{'MODULES.INGRESODATOS.COLUMNS.AR' | translate}}
                                    </th>
                                    <td mat-cell *matCellDef="let row">
                                        <i *ngIf="row.Arlevel2 == 'R'" class="fas fa-times-circle botonTimesCircle" title="Rechazado"></i>
                                        <i *ngIf="row.Arlevel2 == 'A'" class="fas fa-check-circle botonCheckCircle" title="Aceptado"></i>
                                </ng-container>
                                <ng-container matColumnDef="summer3">
                                    <th mat-header-cell *matHeaderCellDef colspan="2" style="min-width: 200px; width: 200px;">
                                        {{'MODULES.INGRESODATOS.COLUMNS.NIVEL3' | translate}}</th>
                                    <td mat-cell *matCellDef="let company;let i = dataIndex"></td>
                                </ng-container>
                                <ng-container matColumnDef="valuelevel3">
                                    <th style="min-width: 130px; width: 130px;" mat-header-cell *matHeaderCellDef mat-sort-header>
                                        {{'MODULES.INGRESODATOS.COLUMNS.VALOR' | translate}} </th>
                                    <td mat-cell *matCellDef="let row">
                                        <b>{{ row.Resultcharlevel3 }}</b> </td>
                                </ng-container>
                                <ng-container matColumnDef="arlevel3">
                                    <th style="min-width: 130px; width: 130px;" mat-header-cell *matHeaderCellDef> {{'MODULES.INGRESODATOS.COLUMNS.AR' | translate}}
                                    </th>
                                    <td mat-cell *matCellDef="let row">
                                        <i *ngIf="row.Arlevel3 == 'R'" class="fas fa-times-circle botonTimesCircle" title="Rechazado"></i>
                                        <i *ngIf="row.Arlevel3 == 'A'" class="fas fa-check-circle botonCheckCircle" title="Aceptado"></i>
                                </ng-container>
                                <ng-container matColumnDef="ac">
                                    <th style="min-width: 200px; width: 200px;" mat-header-cell *matHeaderCellDef rowspan="2">
                                        {{'MODULES.INGRESODATOS.COLUMNS.ACC' | translate}} </th>
                                    <td mat-cell *matCellDef="let row">
                                        {{row.Descorrectiveactions != '' && row.Descorrectiveactions != null ? row.Descorrectiveactions : 'N/R'}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="com">
                                    <th style="min-width: 200px; width: 200px;" mat-header-cell *matHeaderCellDef rowspan="2">
                                        {{'MODULES.INGRESODATOS.COLUMNS.COM' | translate}} </th>
                                    <td mat-cell *matCellDef="let row">
                                        {{row.Comments != '' && row.Comments != null ? row.Comments : 'N/R'}} </td>
                                </ng-container>
                                <ng-container matColumnDef="editar" >
                                    <th style="min-width: 100px; width: 100px" mat-header-cell *matHeaderCellDef rowspan="2">
                                        {{'MODULES.INGRESODATOS.COLUMNS.EDITAR' | translate}}</th>
                                    <td mat-cell *matCellDef="let row">
                                        <img [src]="'imagenEditar.png' | imageCdn" style="cursor: pointer;" (click)="openTablaDatosModal(TablaDatos,row)">
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="eliminar" >
                                    <th style="min-width: 100px; width: 100px" mat-header-cell *matHeaderCellDef rowspan="2">
                                        {{'MODULES.INGRESODATOS.COLUMNS.ELIMINAR' | translate}}</th>
                                    <td mat-cell *matCellDef="let row">
                                        <img [src]="'imagenEliminar.png' | imageCdn" style="cursor: pointer;" (click)="eliminar(row.Idresultqualitative)">
                                    </td>
                                </ng-container>

                                <tr mat-row *matHeaderRowDef="summers">
                                </tr>
                                <tr mat-row *matHeaderRowDef="columnas">
                                </tr>

                                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

                            </table>
                            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" #TablaTresPaginator="matPaginator"></mat-paginator>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>


    <!-- ***Modals -->
    <ng-template #editarTestModal>
        <div class="modal-header">
            <button type="button" class="close pull-right" arial-label="Close" (click)="closeVentana()">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col flex2">
                    <img class="img" [src]="'icono_masdatos.png' | imageCdn" style="width: 85px;">
                    <h3 class="tituloModal" style="color: #3F2E63;">Más datos</h3>
                    <div class="hr"></div>

                </div>
            </div>
            <form [formGroup]="formaMasDatos" (ngSubmit)="setTestDataFromModal()">
                <div class="form-row">
                    <!-- *ngIf="showAC" -->
                    <div class="col-12 form-group" >
                        <div role="group">
                            <mat-form-field class="sf-2">
                                <mat-label class="matLabelForm" for="actions">
                                    {{'MODULES.INGRESODATOS.FORMULARIO.ACCIONCORECTIVA' | translate}}
                                </mat-label>

                                <mat-select disableOptionCentering formControlName="actions" class="form-control styleForm">
                                    <mat-option value="">{{'MODULES.INGRESODATOS.FORMULARIO.SELECCIONE' | translate}}
                                    </mat-option>
                                    <mat-option *ngFor="let listaAccion of listaAccionesC" [value]="listaAccion.idcorrectiveactions">
                                        {{ listaAccion.descorrectiveactions }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-12 form-group">
                        <div role="group">
                            <label for="comments" class="labelForm">{{'MODULES.INGRESODATOS.FORMULARIO.COMENTARIOS' | translate}}</label>
                            <textarea formControlName="comments" class="form-control styleForm2" id="comments" rows="2" style="border-radius: 10px !important;"></textarea>
                        </div>

                    </div>

                </div>
                <div class="form-row">
                    <div class="col-12 boxBtnAceptCancel">
                        <button type="submit" class="boton btnAceptar mt-0 mr-5" style="width: 100px !important;">Aceptar</button>
                        <button type="button" class="botonCancelar btnCancel" style="width: 100px !important;" (click)="closeVentana()">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </ng-template>

    <!-- ***Modal Calendar -->

    <ng-template #calendarModal>
        <div class="modal-header">
            <button type="button" class="close pull-right" arial-label="Close" (click)="closeVentana()">
      <span aria-hidden="true">&times;</span>
    </button>
        </div>
        <div class="modal-body text-center">
            <div class="row mb-5">
                <div class="col flex2">
                    <img class="img img-fluid" [src]="'calendar-icon.png' | imageCdn">
                    <h3 class="tituloModal" style="color: #3F2E63;">Filtrar Fechas</h3>
                </div>
            </div>
            <form [formGroup]="formaCalendarModal" autocomplete="off" (submit)="enviarFechaForm()">
                <div class="row">
                    <div class="col"></div>

                    <div class="col-sm-5 form-group">
                        <div role="group">
                            <label class="labelForm" for="startDate">Fecha Inicio<span class="colorAsterisco"> *</span></label>
                            <mat-form-field style="display: inherit;">
                                <input matInput [matDatepicker]="pickerstart" formControlName="startDate" class="form-control styleForm" id="startDate" autocomplete="off" (change)="changeDate()" style="background-image: none !important;font-size: 1rem">
                                <mat-datepicker-toggle matSuffix [for]="pickerstart" style="color:#2edad8; width: 18px;">
                                </mat-datepicker-toggle>
                                <mat-datepicker #pickerstart style="color:white !important"></mat-datepicker>
                            </mat-form-field>
                            <small *ngIf="startDateNoValido.invalid  && startDateNoValido.touched" class="text-danger animated fadeIn">{{'MODULES.CAMPOS.CAMPOREQUIRED' | translate}}</small>
                        </div>
                    </div>
                    <div class="col-sm-5 form-group">
                        <div role="group">
                            <label class="labelForm" for="endDate">Fecha Fin<span
                  class="colorAsterisco"> *</span></label>
                            <mat-form-field style="display: inherit;">
                                <input matInput [matDatepicker]="pickerend" formControlName="endDate" class="form-control styleForm" id="endDate" autocomplete="off" (change)="changeDate()" style="background-image: none !important;font-size: 1rem">
                                <mat-datepicker-toggle matSuffix [for]="pickerend" style="color:#2edad8; width: 18px;">
                                </mat-datepicker-toggle>
                                <mat-datepicker #pickerend style="color:white !important"></mat-datepicker>
                            </mat-form-field>
                            <small *ngIf="endDateNoValido.invalid  && endDateNoValido.touched" class="text-danger animated fadeIn">{{'MODULES.CAMPOS.CAMPOREQUIRED' | translate}}</small>
                        </div>
                    </div>
                    <div class="col"></div>

                </div>

                <div class="row mt-3">
                    <div class="col-12 boxBtnAceptCancel text-center">
                        <button type=" button " class="boton btnAceptar " style="width: 100px !important; " (click)="closeVentana() ">Aceptar</button>

                    </div>
                </div>
            </form>
        </div>
    </ng-template>

    <!-- ***Modal Tabla de datos -->

    <ng-template #TablaDatos>
        <div class="modal-header">
            <button type="button" class="close pull-right" arial-label="Close" (click)="closeVentana()">
        <span aria-hidden="true">&times;</span>
      </button>
        </div>
        <div class="modal-body text-center">
            <div class="row mb-5">
                <div class="col flex2">
                    <img class="img img-fluid" [src]="'edit.png' | imageCdn">
                    <h3 class="tituloModal" style="color: #3F2E63;">Editar</h3>
                </div>
            </div>

            <form [formGroup]="formularioDatos" (ngSubmit)="crearEditar()" autocomplete="off">


                <div class="form-row">

                    <div class="col-4 form-group">
                        <div role="group">
                            <mat-form-field class="sf-2">
                                <mat-label class="matLabelForm">{{ 'MODULES.INGRESODATOS.FORMULARIO.NIVEL1' | translate }}
                                </mat-label>
                                <mat-select disableOptionCentering class="form-control styleForm" formControlName="resultlevel1">
                                    <mat-option value="">
                                        {{'MODULES.INGRESODATOS.FORMULARIO.SELECCIONE' | translate}}
                                    </mat-option>
                                    <mat-option *ngFor="let resultado of resultadosNvl1" [value]="resultado.Idresultsdictionary">
                                        {{ resultado.Desresults | titlecase }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="col-4 form-group" *ngIf="levelTest >= 2">
                        <div role="group">
                            <mat-form-field class="sf-2">
                                <mat-label class="matLabelForm">{{ 'MODULES.INGRESODATOS.FORMULARIO.NIVEL2' | translate }}
                                </mat-label>
                                <mat-select disableOptionCentering class="form-control styleForm" formControlName="resultlevel2">
                                    <mat-option value="">
                                        {{'MODULES.INGRESODATOS.FORMULARIO.SELECCIONE' | translate}}
                                    </mat-option>
                                    <mat-option *ngFor="let resultado of resultadosNvl2" [value]="resultado.Idresultsdictionary">
                                        {{ resultado.Desresults | titlecase }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="col-4 form-group" *ngIf="levelTest == 3">
                        <div role="group">
                            <mat-form-field class="sf-2">
                                <mat-label class="matLabelForm">{{ 'MODULES.INGRESODATOS.FORMULARIO.NIVEL3' | translate }}
                                </mat-label>
                                <mat-select disableOptionCentering class="form-control styleForm" formControlName="resultlevel3">
                                    <mat-option value="">
                                        {{'MODULES.INGRESODATOS.FORMULARIO.SELECCIONE' | translate}}
                                    </mat-option>
                                    <mat-option *ngFor="let resultado of resultadosNvl3" [value]="resultado.Idresultsdictionary">
                                        {{ resultado.Desresults | titlecase }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="col-12 form-group">
                        <div role="group">
                            <label for="comments" class="labelForm">{{'MODULES.INGRESODATOS.FORMULARIO.COMENTARIOS' | translate}}</label>
                            <input type="text" formControlName="comments" class="form-control styleForm" id="comments">
                        </div>
                    </div>

                    <div class="col-12 form-group" *ngIf="showAC">
                        <div role="group">
                            <mat-form-field class="sf-2">
                                <mat-label class="matLabelForm" for="idcorrectiveactions">
                                    {{'MODULES.INGRESODATOS.FORMULARIO.ACCIONCORECTIVA' | translate}}
                                </mat-label>

                                <mat-select disableOptionCentering formControlName="idcorrectiveactions" class="form-control styleForm">
                                    <mat-option value="">{{'MODULES.INGRESODATOS.FORMULARIO.SELECCIONE' | translate}}
                                    </mat-option>
                                    <mat-option *ngFor="let listaAccion of listaAccionesC" [value]="listaAccion.idcorrectiveactions">
                                        {{ listaAccion.descorrectiveactions }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>


                </div>

                <div class="form-row">
                    <div class="col-12 boxBtnAceptCancel">
                        <button class="boton btnAceptar" type="submit">{{'MODULES.BOTONACEPTAR' | translate}}</button>
                        <button class="botonCancelar btnCancel" type="button" (click)="closeVentana()">{{'MODULES.BOTONCANCELAR' | translate}}</button>
                    </div>
                </div>

            </form>
        </div>
    </ng-template>

    <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
        <p style="font-size: 20px; color: white">Por favor, espere.</p>
    </ngx-spinner>