<div class="row mt-2">
    <div class="col-12">
        <div class="card border-0 mt-3 mb-3">

            <div class="row justify-content-center mt-4">

                <div class="col-11">

                    <div class="row mb-2">

                        <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-8">

                            <!-- ** Mes - Año -->
                            <form [formGroup]="formulario" autocomplete="off" (submit)="getFiltro()">
                                <div class="row">

                                    <!-- ** Mes / Año -->

                                    <div class="col-1 m-0 p-0 d-none d-sm-block d-md-block d-lg-block d-xl-block">
                                        <img [src]="'calendar.svg' | imageCdn" style="width: 50%;">
                                    </div>
                                    <div class="col-5 col-sm-3 col-md-3 col-lg-3 col-xl-2 m-0 p-0">

                                        <div role="group">
                                            <mat-label class="labelForm">Mes <span class="colorAsterisco"> *</span></mat-label>
                                            <br>
                                            <mat-form-field class="w90">
                                                <mat-select disableOptionCentering formControlName="mes">
                                                    <mat-option value="--">--</mat-option>
                                                    <mat-option *ngFor="let item of meses" [value]="item.idmes">
                                                        {{ item.mes }}
                                                    </mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="mesNoValido.hasError('required')" class="animated fadeIn">
                                                    {{'MODULES.CAMPOS.CAMPOREQUIRED' | translate}}
                                                </mat-error>
                                            </mat-form-field>
                                        </div>


                                    </div>

                                    <div class="col-5 col-sm-3 col-md-3 col-lg-3 col-xl-2 m-0 p-0">
                                        <div role="group">
                                            <mat-label class="labelForm">Año <span class="colorAsterisco"> *</span></mat-label>
                                            <br>
                                            <mat-form-field class="w90">
                                                <mat-select disableOptionCentering formControlName="anio">
                                                    <mat-option value="--">--</mat-option>
                                                    <mat-option *ngFor="let item of anios" [value]="item">
                                                        {{ item }}
                                                    </mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="anioNoValido.hasError('required')" class="animated fadeIn">
                                                    {{'MODULES.CAMPOS.CAMPOREQUIRED' | translate}}
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 m-0 p-0" [hidden]="!filterHide">
                                        <button type="button" class="botonCirculo btnDuplicarLote animate__animated animate__fadeIn fast" (click)="enableFilters()">
                                          <i class="fas fa-check" ></i>
                                       </button>
                                    </div>
                                    <!-- ** Turno / Area -->

                                    <div class="col-1 m-0 p-0 d-none d-sm-block d-md-block d-lg-block d-xl-block">
                                        <img [src]="'reloj-icon.png' | imageCdn" style="width: 50%;" [hidden]="filterHide">
                                    </div>
                                    <div class="col-5 col-sm-3 col-md-3 col-lg-3 col-xl-2 m-0 p-0" [hidden]="filterHide">

                                        <div role="group">
                                            <mat-label class="labelForm" style="font-size: 15px;">Turno<span class="colorAsterisco"> *</span></mat-label>
                                            <br>
                                            <mat-form-field class="w80">
                                                <mat-select disableOptionCentering formControlName="idturns">
                                                    <mat-option value="--">--</mat-option>
                                                    <mat-option *ngFor="let item of arrayTurnos" [value]="item.idturns">
                                                        {{ item.desturns }}
                                                    </mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="mesNoValido.hasError('required')" class="animated fadeIn">
                                                    {{'MODULES.CAMPOS.CAMPOREQUIRED' | translate}}
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-5 col-sm-3 col-md-3 col-lg-3 col-xl-2 m-0 p-0" [hidden]="filterHide">
                                        <div role="group">
                                            <mat-label class="labelForm" style="font-size: 15px;">Área<span class="colorAsterisco"> *</span></mat-label>
                                            <br>
                                            <mat-form-field class="w80">
                                                <mat-select disableOptionCentering formControlName="idarea">
                                                    <mat-option value="--">--</mat-option>
                                                    <mat-option *ngFor="let item of arrayAreas" [value]="item.idarea">
                                                        {{ item.desarea }}
                                                    </mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="anioNoValido.hasError('required')" class="animated fadeIn">
                                                    {{'MODULES.CAMPOS.CAMPOREQUIRED' | translate}}
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 m-0 p-0" [hidden]="filterHide">
                                        <button type="submit" class="boton">Aplicar</button>
                                    </div>
                                    <div class="col"></div>

                                </div>

                            </form>


                        </div>
                    </div>
                </div>
            </div>
            <!-- -- Cards - -->
            <div class="row justify-content-center mt-3">
                <div class="col-11" *ngIf="alert">
                    <p class="text-danger p-0 m-0 float-right">No de Muestras excedidas</p>
                </div>
                <div class="col-11">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-8 p-0 mb-2">
                            <div class="card borderTable px-xl-2">

                                <div class="card-body px-lg-4 px-xl-4">

                                    <table class="table table-sm table-borderless table-responsive-ab">
                                        <thead class="thead-scroll">
                                            <tr>
                                                <td style="width: 100%; text-align: left !important;">
                                                    <p class="table-label"><strong>Item a evaluar</strong></p>
                                                </td>
                                                <td style="text-align: right !important;">
                                                    <p class="table-label text-nowrap"><strong>No Muestras</strong></p>
                                                </td>
                                            </tr>
                                        </thead>
                                        <tbody class="tbody-scroll" [class.scroll-disabled-up]="disabledUp">
                                            <tr>
                                                <td style="width: 100%; text-align: left !important;">
                                                    <div class="d-inline-flex">
                                                        <div class="dot text-center" [class.dot-disabled-up]="disabledUp"><span class="number" [class.txt-disabled-up]="disabledUp">1</span></div>
                                                        <span class="line" [class.txt-disabled-up]="disabledUp"> Muestra perdida</span>
                                                    </div>
                                                </td>
                                                <td style="text-align: right !important;">
                                                    <!-- Input -->
                                                    <div role="group" class="mr-3">
                                                        <div *ngIf="itemuno.invalid && (itemuno.dirty || itemuno.touched)" class="text-danger">
                                                            <small *ngIf="itemuno.errors?.pattern || itemuno.errors?.max">*Error</small>
                                                        </div>
                                                        <mat-form-field class="w-ab">
                                                            <input matInput class="txt-item" [class.input-disabled-up]="disabledUp" type="number" name="input1" minlength="1" min="0" pattern="[0-9]*" [(ngModel)]="valItem1" #itemuno="ngModel" (change)="setTotalProgressBar(itemuno)" [disabled]="isDisabled" [class.text-danger]="txtInput1">
                                                        </mat-form-field>
                                                    </div>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td style="text-align: left !important;">
                                                    <div class="d-inline-flex">
                                                        <div class="dot text-center" [class.dot-disabled-up]="disabledUp"><span class="number" [class.txt-disabled-up]="disabledUp">2</span></div>
                                                        <span class="line" [class.txt-disabled-up]="disabledUp"> Muestra no recibida</span>
                                                    </div>
                                                </td>
                                                <td style="text-align: right !important;">
                                                    <!-- Input -->
                                                    <div role="group" class="mr-3">
                                                        <div *ngIf="itemdos.invalid && (itemdos.dirty || itemdos.touched)" class="text-danger">
                                                            <small *ngIf="itemdos.errors?.pattern || itemdos.errors?.max">*Error</small>
                                                        </div>
                                                        <mat-form-field class="w-ab">
                                                            <input matInput class="txt-item" [class.input-disabled-up]="disabledUp" type="number" name="input2" minlength="1" min="0" pattern="[0-9]*" [(ngModel)]="valItem2" #itemdos="ngModel" (change)="setTotalProgressBar(itemdos)" [disabled]="isDisabled" [class.text-danger]="txtInput2">
                                                        </mat-form-field>
                                                    </div>
                                                </td>

                                            </tr>

                                            <tr>
                                                <td style="text-align: left !important;">
                                                    <div class="d-inline-flex">
                                                        <div class="dot text-center" [class.dot-disabled-up]="disabledUp"><span class="number" [class.txt-disabled-up]="disabledUp">3</span></div>
                                                        <span class="line" [class.txt-disabled-up]="disabledUp"> Muestra sin etiquetar</span>
                                                    </div>
                                                </td>
                                                <td style="text-align: right !important;">
                                                    <!-- Input -->
                                                    <div role="group" class="mr-3">
                                                        <div *ngIf="itemtres.invalid && (itemtres.dirty || itemtres.touched)" class="text-danger">
                                                            <small *ngIf="itemtres.errors?.pattern || itemtres.errors?.max">*Error</small>
                                                        </div>
                                                        <mat-form-field class="w-ab">
                                                            <input matInput class="txt-item" [class.input-disabled-up]="disabledUp" type="number" name="input3" minlength="1" min="0" pattern="[0-9]*" [(ngModel)]="valItem3" #itemtres="ngModel" (change)="setTotalProgressBar(itemtres)" [disabled]="isDisabled" [class.text-danger]="txtInput3">
                                                        </mat-form-field>
                                                    </div>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td style="text-align: left !important;">
                                                    <div class="d-inline-flex">
                                                        <div class="dot text-center" [class.dot-disabled-up]="disabledUp"><span class="number" [class.txt-disabled-up]="disabledUp">4</span></div>
                                                        <span class="line" [class.txt-disabled-up]="disabledUp"> Muestra mal etiquetada</span>
                                                    </div>
                                                </td>
                                                <td style="text-align: right !important;">
                                                    <!-- Input -->
                                                    <div role="group" class="mr-3">
                                                        <div *ngIf="itemcuatro.invalid && (itemcuatro.dirty || itemcuatro.touched)" class="text-danger">
                                                            <small *ngIf="itemcuatro.errors?.pattern || itemcuatro.errors?.max">*Error</small>
                                                        </div>
                                                        <mat-form-field class="w-ab">
                                                            <input matInput class="txt-item" [class.input-disabled-up]="disabledUp" type="number" name="input4" minlength="1" min="0" pattern="[0-9]*" [(ngModel)]="valItem4" #itemcuatro="ngModel" (change)="setTotalProgressBar(itemcuatro)" [disabled]="isDisabled"
                                                                [class.text-danger]="txtInput4">
                                                        </mat-form-field>
                                                    </div>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td style="text-align: left !important;">
                                                    <div class="d-inline-flex">
                                                        <div class="dot text-center" [class.dot-disabled-up]="disabledUp"><span class="number" [class.txt-disabled-up]="disabledUp">5</span></div>
                                                        <span class="line" [class.txt-disabled-up]="disabledUp"> Muestra mal identificada</span>
                                                    </div>
                                                </td>
                                                <td style="text-align: right !important;">
                                                    <!-- Input -->
                                                    <div role="group" class="mr-3">
                                                        <div *ngIf="itemcinco.invalid && (itemcinco.dirty || itemcinco.touched)" class="text-danger">
                                                            <small *ngIf="itemcinco.errors?.pattern || itemcinco.errors?.max">*Error</small>
                                                        </div>
                                                        <mat-form-field class="w-ab">
                                                            <input matInput class="txt-item" [class.input-disabled-up]="disabledUp" type="number" name="input5" minlength="1" min="0" pattern="[0-9]*" [(ngModel)]="valItem5" #itemcinco="ngModel" (change)="setTotalProgressBar(itemcinco)" [disabled]="isDisabled" [class.text-danger]="txtInput5">
                                                        </mat-form-field>
                                                    </div>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td style="text-align: left !important;">
                                                    <div class="d-inline-flex">
                                                        <div class="dot text-center" [class.dot-disabled-up]="disabledUp"><span class="number" [class.txt-disabled-up]="disabledUp">6</span></div>
                                                        <span class="line" [class.txt-disabled-up]="disabledUp"> Muestra volumen insuficiente</span>
                                                    </div>
                                                </td>
                                                <td style="text-align: right !important;">
                                                    <!-- Input -->
                                                    <div role="group" class="mr-3">
                                                        <div *ngIf="itemseis.invalid && (itemseis.dirty || itemseis.touched)" class="text-danger">
                                                            <small *ngIf="itemseis.errors?.pattern || itemseis.errors?.max">*Error</small>
                                                        </div>
                                                        <mat-form-field class="w-ab">
                                                            <input matInput class="txt-item" [class.input-disabled-up]="disabledUp" type="number" name="input6" minlength="1" min="0" pattern="[0-9]*" [(ngModel)]="valItem6" #itemseis="ngModel" (change)="setTotalProgressBar(itemseis)" [disabled]="isDisabled" [class.text-danger]="txtInput6">
                                                        </mat-form-field>
                                                    </div>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td style="text-align: left !important;">
                                                    <div class="d-inline-flex">
                                                        <div class="dot text-center" [class.dot-disabled-up]="disabledUp"><span class="number" [class.txt-disabled-up]="disabledUp">7</span></div>
                                                        <span class="line" [class.txt-disabled-up]="disabledUp"> Muestra con una proporción inadecuada muestra-anticoagulante</span>
                                                    </div>
                                                </td>
                                                <td style="text-align: right !important;">
                                                    <!-- Input -->
                                                    <div role="group" class="mr-3">
                                                        <div *ngIf="itemsiete.invalid && (itemsiete.dirty || itemsiete.touched)" class="text-danger">
                                                            <small *ngIf="itemsiete.errors?.pattern || itemsiete.errors?.max">*Error</small>
                                                        </div>
                                                        <mat-form-field class="w-ab">
                                                            <input matInput class="txt-item" [class.input-disabled-up]="disabledUp" type="number" name="input7" minlength="1" min="0" pattern="[0-9]*" [(ngModel)]="valItem7" #itemsiete="ngModel" (change)="setTotalProgressBar(itemsiete)" [disabled]="isDisabled" [class.text-danger]="txtInput7">
                                                        </mat-form-field>
                                                    </div>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td style="text-align: left !important;">
                                                    <div class="d-inline-flex">
                                                        <div class="dot text-center" [class.dot-disabled-up]="disabledUp"><span class="number" [class.txt-disabled-up]="disabledUp">8</span></div>
                                                        <span class="line" [class.txt-disabled-up]="disabledUp"> La solicitud no coincide con la muestra</span>
                                                    </div>
                                                </td>
                                                <td style="text-align: right !important;">
                                                    <!-- Input -->
                                                    <div role="group" class="mr-3">
                                                        <div *ngIf="itemocho.invalid && (itemocho.dirty || itemocho.touched)" class="text-danger">
                                                            <small *ngIf="itemocho.errors?.pattern || itemocho.errors?.max">*Error</small>
                                                        </div>
                                                        <mat-form-field class="w-ab">
                                                            <input matInput class="txt-item" [class.input-disabled-up]="disabledUp" type="number" name="input8" minlength="1" min="0" pattern="[0-9]*" [(ngModel)]="valItem8" #itemocho="ngModel" (change)="setTotalProgressBar(itemocho)" [disabled]="isDisabled" [class.text-danger]="txtInput8">
                                                        </mat-form-field>
                                                    </div>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td style="text-align: left !important;">
                                                    <div class="d-inline-flex">
                                                        <div class="dot text-center" [class.dot-disabled-up]="disabledUp"><span class="number" [class.txt-disabled-up]="disabledUp">9</span></div>
                                                        <span class="line" [class.txt-disabled-up]="disabledUp"> Recipiente de recogida incorrecto</span>
                                                    </div>
                                                </td>
                                                <td style="text-align: right !important;">
                                                    <!-- Input -->
                                                    <div role="group" class="mr-3">
                                                        <div *ngIf="itemnueve.invalid && (itemnueve.dirty || itemnueve.touched)" class="text-danger">
                                                            <small *ngIf="itemnueve.errors?.pattern || itemnueve.errors?.max">*Error</small>
                                                        </div>
                                                        <mat-form-field class="w-ab">
                                                            <input matInput class="txt-item" [class.input-disabled-up]="disabledUp" type="number" name="input9" minlength="1" min="0" pattern="[0-9]*" [(ngModel)]="valItem9" #itemnueve="ngModel" (change)="setTotalProgressBar(itemnueve)" [disabled]="isDisabled" [class.text-danger]="txtInput9">
                                                        </mat-form-field>
                                                    </div>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td style="text-align: left !important;">
                                                    <div class="d-inline-flex">
                                                        <div class="dot text-center" [class.dot-disabled-up]="disabledUp"><span class="number" [class.txt-disabled-up]="disabledUp">10</span></div>
                                                        <span class="line" [class.txt-disabled-up]="disabledUp"> Tiempo de muestra (demasiado vieja)</span>
                                                    </div>
                                                </td>
                                                <td style="text-align: right !important;">
                                                    <!-- Input -->
                                                    <div role="group" class="mr-3">
                                                        <div *ngIf="itemdiez.invalid && (itemdiez.dirty || itemdiez.touched)" class="text-danger">
                                                            <small *ngIf="itemdiez.errors?.pattern || itemdiez.errors?.max">*Error</small>
                                                        </div>
                                                        <mat-form-field class="w-ab">
                                                            <input matInput class="txt-item" [class.input-disabled-up]="disabledUp" type="number" name="input10" minlength="1" min="0" pattern="[0-9]*" [(ngModel)]="valItem10" #itemdiez="ngModel" (change)="setTotalProgressBar(itemdiez)" [disabled]="isDisabled" [class.text-danger]="txtInput10">
                                                        </mat-form-field>
                                                    </div>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td style="text-align: left !important;">
                                                    <div class="d-inline-flex">
                                                        <div class="dot text-center" [class.dot-disabled-up]="disabledUp"><span class="number" [class.txt-disabled-up]="disabledUp">11</span></div>
                                                        <span class="line" [class.txt-disabled-up]="disabledUp"> Muestra hemolizada</span>
                                                    </div>
                                                </td>
                                                <td style="text-align: right !important;">
                                                    <!-- Input -->
                                                    <div role="group" class="mr-3">
                                                        <div *ngIf="itemsonce.invalid && (itemsonce.dirty || itemsonce.touched)" class="text-danger">
                                                            <small *ngIf="itemsonce.errors?.pattern || itemsonce.errors?.max">*Error</small>
                                                        </div>
                                                        <mat-form-field class="w-ab">
                                                            <input matInput class="txt-item" [class.input-disabled-up]="disabledUp" type="number" name="input11" minlength="1" min="0" pattern="[0-9]*" [(ngModel)]="valItem11" #itemsonce="ngModel" (change)="setTotalProgressBar(itemsonce)" [disabled]="isDisabled"
                                                                [class.text-danger]="txtInput11">
                                                        </mat-form-field>
                                                    </div>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td style="text-align: left !important;">
                                                    <div class="d-inline-flex">
                                                        <div class="dot dot-12 text-center" [class.dot-disabled-up]="disabledUp"><span class="number" [class.txt-disabled-up]="disabledUp">12</span></div>
                                                        <span class="line" [class.txt-disabled-up]="disabledUp"> Lipemia</span>
                                                    </div>
                                                </td>
                                                <td style="text-align: right !important;">
                                                    <!-- Input -->
                                                    <div role="group" class="mr-3">
                                                        <div *ngIf="itemdoce.invalid && (itemdoce.dirty || itemdoce.touched)" class="text-danger">
                                                            <small *ngIf="itemdoce.errors?.pattern || itemdoce.errors?.max">*Error</small>
                                                        </div>
                                                        <mat-form-field class="w-ab">
                                                            <input matInput class="txt-item" [class.input-disabled-up]="disabledUp" type="number" name="input12" minlength="1" min="0" pattern="[0-9]*" [(ngModel)]="valItem12" #itemdoce="ngModel" (change)="setTotalProgressBar(itemdoce)" [disabled]="isDisabled" [class.text-danger]="txtInput12">
                                                        </mat-form-field>
                                                    </div>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td style="text-align: left !important;">
                                                    <div class="d-inline-flex">
                                                        <div class="dot dot-13 text-center"><span class="number">13</span></div>
                                                        <span class="line" [class.txt-disabled-up]="disabledUp"> Lipemia ictérica</span>
                                                    </div>
                                                </td>
                                                <td style="text-align: right !important;">
                                                    <!-- Input -->
                                                    <div role="group" class="mr-3">
                                                        <div *ngIf="itemtrece.invalid && (itemtrece.dirty || itemtrece.touched)" class="text-danger">
                                                            <small *ngIf="itemtrece.errors?.pattern || itemtrece.errors?.max">*Error</small>
                                                        </div>
                                                        <mat-form-field class="w-ab">
                                                            <input matInput class="txt-item" [class.input-disabled-up]="disabledUp" type="number" name="input13" minlength="1" min="0" pattern="[0-9]*" [(ngModel)]="valItem13" #itemtrece="ngModel" (change)="setTotalProgressBar(itemtrece)" [disabled]="isDisabled"
                                                                [class.text-danger]="txtInput13">
                                                        </mat-form-field>
                                                    </div>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td style="text-align: left !important;">
                                                    <div class="d-inline-flex">
                                                        <div class="dot dot-14 text-center"><span class="number">14</span></div>
                                                        <span class="line" [class.txt-disabled-up]="disabledUp"> Muestra coagulada</span>
                                                    </div>
                                                </td>
                                                <td style="text-align: right !important;">
                                                    <!-- Input -->
                                                    <div role="group" class="mr-3">
                                                        <div *ngIf="itemcatorce.invalid && (itemcatorce.dirty || itemcatorce.touched)" class="text-danger">
                                                            <small *ngIf="itemcatorce.errors?.pattern || itemcatorce.errors?.max">*Error</small>
                                                        </div>
                                                        <mat-form-field class="w-ab">
                                                            <input matInput class="txt-item" [class.input-disabled-up]="disabledUp" type="number" name="input14" minlength="1" min="0" pattern="[0-9]*" [(ngModel)]="valItem14" #itemcatorce="ngModel" (change)="setTotalProgressBar(itemcatorce)" [disabled]="isDisabled"
                                                                [class.text-danger]="txtInput14">
                                                        </mat-form-field>
                                                    </div>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td style="text-align: left !important;">
                                                    <div class="d-inline-flex">
                                                        <div class="dot dot-15 text-center"><span class="number">15</span></div>
                                                        <span class="line" [class.txt-disabled-up]="disabledUp"> Muestra contaminada</span>
                                                    </div>
                                                </td>
                                                <td style="text-align: right !important;">
                                                    <!-- Input -->
                                                    <div role="group" class="mr-3">
                                                        <div *ngIf="itemquince.invalid && (itemquince.dirty || itemquince.touched)" class="text-danger">
                                                            <small *ngIf="itemquince.errors?.pattern || itemquince.errors?.max">*Error</small>
                                                        </div>
                                                        <mat-form-field class="w-ab">
                                                            <input matInput class="txt-item" [class.input-disabled-up]="disabledUp" type="number" name="input15" minlength="1" min="0" pattern="[0-9]*" [(ngModel)]="valItem15" #itemquince="ngModel" (change)="setTotalProgressBar(itemquince)" [disabled]="isDisabled"
                                                                [class.text-danger]="txtInput15">
                                                        </mat-form-field>
                                                    </div>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td style="text-align: left !important;">
                                                    <div class="d-inline-flex">
                                                        <div class="dot dot-16 text-center"><span class="number">16</span></div>
                                                        <span class="line" [class.txt-disabled-up]="disabledUp"> Muestra dañadas durante el transporte</span>
                                                    </div>
                                                </td>
                                                <td style="text-align: right !important;">
                                                    <!-- Input -->
                                                    <div role="group" class="mr-3">
                                                        <div *ngIf="itemdieciseis.invalid && (itemdieciseis.dirty || itemdieciseis.touched)" class="text-danger">
                                                            <small *ngIf="itemdieciseis.errors?.pattern || itemdieciseis.errors?.max">*Error</small>
                                                        </div>
                                                        <mat-form-field class="w-ab">
                                                            <input matInput class="txt-item" [class.input-disabled-up]="disabledUp" type="number" name="input16" minlength="1" min="0" pattern="[0-9]*" [(ngModel)]="valItem16" #itemdieciseis="ngModel" (change)="setTotalProgressBar(itemdieciseis)" [disabled]="isDisabled"
                                                                [class.text-danger]="txtInput16">
                                                        </mat-form-field>
                                                    </div>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td style="text-align: left !important;">
                                                    <div class="d-inline-flex">
                                                        <div class="dot dot-17 text-center"><span class="number">17</span></div>
                                                        <span class="line" [class.txt-disabled-up]="disabledUp"> Muestra no almacenada a la temperatura correcta</span>
                                                    </div>
                                                </td>
                                                <td style="text-align: right !important;">
                                                    <!-- Input -->
                                                    <div role="group" class="mr-3">
                                                        <div *ngIf="itemdiecisiete.invalid && (itemdiecisiete.dirty || itemdiecisiete.touched)" class="text-danger">
                                                            <small *ngIf="itemdiecisiete.errors?.pattern || itemdiecisiete.errors?.max">*Error</small>
                                                        </div>
                                                        <mat-form-field class="w-ab">
                                                            <input matInput class="txt-item" [class.input-disabled-up]="disabledUp" type="number" name="input17" minlength="1" min="0" pattern="[0-9]*" [(ngModel)]="valItem17" #itemdiecisiete="ngModel" (change)="setTotalProgressBar(itemdiecisiete)" [disabled]="isDisabled"
                                                                [class.text-danger]="txtInput17">
                                                        </mat-form-field>
                                                    </div>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td style="text-align: left !important;">
                                                    <div class="d-inline-flex">
                                                        <div class="dot text-center" [class.dot-disabled-up]="disabledUp"><span class="number" [class.txt-disabled-up]="disabledUp">18</span></div>
                                                        <span class="line" [class.txt-disabled-up]="disabledUp"> Ruptura de recipiente de recolección</span>
                                                    </div>
                                                </td>
                                                <td style="text-align: right !important;">
                                                    <!-- Input -->
                                                    <div role="group" class="mr-3">
                                                        <div *ngIf="itemdieciocho.invalid && (itemdieciocho.dirty || itemdieciocho.touched)" class="text-danger">
                                                            <small *ngIf="itemdieciocho.errors?.pattern || itemdieciocho.errors?.max">*Error</small>
                                                        </div>
                                                        <mat-form-field class="w-ab">
                                                            <input matInput class="txt-item" [class.input-disabled-up]="disabledUp" type="number" name="input18" minlength="1" min="0" pattern="[0-9]*" [(ngModel)]="valItem18" #itemdieciocho="ngModel" (change)="setTotalProgressBar(itemdieciocho)" [disabled]="isDisabled"
                                                                [class.text-danger]="txtInput18">
                                                        </mat-form-field>
                                                    </div>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td style="text-align: left !important;">
                                                    <div class="d-inline-flex">
                                                        <div class="dot text-center" [class.dot-disabled-up]="disabledUp"><span class="number" [class.txt-disabled-up]="disabledUp">19</span></div>
                                                        <span class="line" [class.txt-disabled-up]="disabledUp"> Muestra no almacenada a la temperatura correcta durante el transporte</span>
                                                    </div>
                                                </td>
                                                <td style="text-align: right !important;">
                                                    <!-- Input -->
                                                    <div role="group" class="mr-3">
                                                        <div *ngIf="itemcinco.invalid && (itemdiecinueve.dirty || itemdiecinueve.touched)" class="text-danger">
                                                            <small *ngIf="itemdiecinueve.errors?.pattern || itemdiecinueve.errors?.max">*Error</small>
                                                        </div>
                                                        <mat-form-field class="w-ab">
                                                            <input matInput class="txt-item" [class.input-disabled-up]="disabledUp" type="number" name="input19" minlength="1" min="0" pattern="[0-9]*" [(ngModel)]="valItem19" #itemdiecinueve="ngModel" (change)="setTotalProgressBar(itemdiecinueve)" [disabled]="isDisabled"
                                                                [class.text-danger]="txtInput19">
                                                        </mat-form-field>
                                                    </div>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td style="text-align: left !important;">
                                                    <div class="d-inline-flex">
                                                        <div class="dot text-center" [class.dot-disabled-up]="disabledUp"><span class="number" [class.txt-disabled-up]="disabledUp">20</span></div>
                                                        <span class="line" [class.txt-disabled-up]="disabledUp"> Número de muestras con tiempo de transporte excecivo</span>
                                                    </div>
                                                </td>
                                                <td style="text-align: right !important;">
                                                    <!-- Input -->
                                                    <div role="group" class="mr-3">
                                                        <div *ngIf="itemveinte.invalid && (itemveinte.dirty || itemveinte.touched)" class="text-danger">
                                                            <small *ngIf="itemveinte.errors?.pattern || itemveinte.errors?.max">*Error</small>
                                                        </div>
                                                        <mat-form-field class="w-ab">
                                                            <input matInput class="txt-item" [class.input-disabled-up]="disabledUp" type="number" name="input20" minlength="1" min="0" pattern="[0-9]*" [(ngModel)]="valItem20" #itemveinte="ngModel" (change)="setTotalProgressBar(itemveinte)" [disabled]="isDisabled"
                                                                [class.text-danger]="txtInput20">
                                                        </mat-form-field>
                                                    </div>
                                                </td>

                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-4 mb-2">
                            <div class="card borderTable text-center" [class.card-alert]="alert">
                                <div class="card-body">
                                    <p class="table-label"><strong>Total de muestras con falla en el mes</strong></p>
                                    <br>

                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <mat-card-content class="mt-2">

                                                <div class="d-inline-flex progress-bar-color">
                                                    <div class="dot-lg text-center" [class.dot-disabled-up]="disabledUp">
                                                        <span id="circle" *ngIf="value > 0 "></span>
                                                        <span class="number-lg">{{totalSamplePB}}</span>
                                                        <br>
                                                        <span class="txt-lg">Muestras</span>
                                                        <mat-progress-spinner class="mx-auto progress-circle" [color]="color" [mode]="mode" [value]="value" [strokeWidth]="3" [diameter]="168"></mat-progress-spinner>
                                                    </div>

                                                </div>
                                            </mat-card-content>

                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-6">
                                        </div>
                                        <div class="col-6">
                                            <div class="row mt-3">
                                                <div class="col-12 p-0">
                                                    <p class="float-right" style="font-size: 12px; margin-bottom: 20px !important;" [class.text-danger]="alert">No Total muestras</p>
                                                </div>
                                                <div class="col-12">
                                                    <!-- Input -->
                                                    <div role="group">
                                                        <mat-form-field class="w70 float-right">
                                                            <input class="txt-total" [class.input-disabled-up]="disabledUp" matInput type="number" minlength="1" min="0" pattern="[0-9]*" [(ngModel)]="totalMuestras" #totalmuestras="ngModel" (change)="setTotalMuestras()" [class.text-danger]="alert" [disabled]="disabledUp">

                                                        </mat-form-field>
                                                        <div *ngIf="totalmuestras.invalid && (totalmuestras.dirty || totalmuestras.touched)" class="text-danger">
                                                            <div *ngIf="totalmuestras.errors?.pattern">*Error</div>
                                                        </div>

                                                    </div>

                                                </div>

                                            </div>
                                            <!-- <div class="vline"></div> -->
                                        </div>

                                        <!--  <div class="col-6">
                                            <div class="row mt-3">
                                                <div class="col-12">
                                                    <p class="float-right m-0" style="font-size: 12px; text-align: right;" [class.text-danger]="alertReject">No Total muestras <br> rechazadas</p>
                                                </div>
                                                <div class="col-12">

                                                    <div role="group">
                                                        <mat-form-field class="w70 float-right">
                                                            <input class="txt-total" [class.input-disabled-up]="disabledUp" matInput type="number" minlength="1" min="0" pattern="[0-9]*" [(ngModel)]="totalRechazadas" #totalrechazadas="ngModel" (change)="setTotalMuestras()" [class.text-danger]="alertReject" [disabled]="disabledUp">

                                                        </mat-form-field>
                                                        <div *ngIf="totalrechazadas.invalid && (totalrechazadas.dirty || totalrechazadas.touched)" class="text-danger">
                                                            <div *ngIf="totalrechazadas.errors?.pattern">*Error</div>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>

                                        </div> -->
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <!-- Btns Guardar - Cancelar -->
            <div class="row justify-content-center mt-3">
                <div class="col-10">

                    <div class="row">
                        <div class="col-6 contBtn mt-2">
                            <button type="button" class="boton float-right" (click)="crearEditar()" [ngClass]="{ 'off' : alertReject || alert }" [disabled]="alertReject || alert">
                                Guardar
                            </button>
                        </div>
                        <div class="col-6 contBtn mt-2">
                            <button type="button" class="boton-back" (click)="reset()">Cancelar</button>
                        </div>
                    </div>



                </div>
            </div>


        </div>

    </div>

    <br>
    <br>
    <br>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white;">Por favor, espere.</p>
</ngx-spinner>