.modal-content {
  width: 140%;
}
.contiene-modal {
  text-align: center !important;
  gap: 1em !important;
}
.titulo-modal {
  margin-top: 1em !important;
}
.botones-modal {
  margin-right: 1em !important;
  margin-bottom: 1em !important;
}

/* Scrolll z-score */
.nuevo-scroll {
  height: 255px;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* SLIDER */
.boxSecciones {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 16px;
  background: white;
  display: flex;
  align-items: center;
}

.rbutton {
  display: flex; 
  flex-direction: column;
  justify-content: start;
  gap: 1em;
}

.boxSeccionesContainer {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  height: 54px;
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.boxSeccionesContainer::-webkit-scrollbar {
  display: none;
}

.styleSeccion {
  border: 1px solid #cecece;
  border-radius: 6px;
  box-shadow: 3px 3px 3px #e8e8e8;
  cursor: pointer;
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.styleSeccion:first-child {
  margin-left: 12px;
}

.arrow-left,
.arrow-right {
  background-color: #3b58bd;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 4px;
}
/* SLIDER */

.boxIndicadores {
  width: 100%;
  margin-top: 80px;
  margin-bottom: 16px;
  background: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.boxIndicadoresEvaluacion {
  width: 90%;
  margin: 0 auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #80808033;
  padding: 15px 0 15px 30px;
}

.indicador:first-child {
  margin-left: 12px;
}

.indicador {
  border: 1px solid #cecece;
  border-radius: 6px;
  padding: 8px;
  box-shadow: 3px 3px 3px #e8e8e8;
  cursor: pointer;
  flex-grow: 1;
  margin-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tipoIndicador {
  border: 1px solid #cecece;
  border-radius: 6px;
  padding: 8px;
  box-shadow: 3px 3px 3px #e8e8e8;
  cursor: pointer;
  flex-grow: 1;
  margin-right: 12px;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  width: 70px;
}

.col-md-4 .tipoIndicador {
  width: 100%;
}

.indicadorEvaluacion {
  flex-grow: 1;
  margin-right: 12px;
  display: flex;
  justify-content: start;
  align-items: center;
  color: black;
}

.options-1 {
  z-index: 1;
}

.backHover {
  background: #efefef;
}

.backHover-item {
  background: #efefef;
}

.backHover-item:hover {
  width: 100%;
}

.none {
  display: none;
}

.backHover-item:hover > .none {
  display: block;
}

.item-content-selected {
  position: absolute;
  left: 110px;
}

h2 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 0;
  color: #3b58bd;
  margin-left: 8px;
}

.reporE {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0;
  color: #3b58bd;
  margin-left: 8px;
}

.selectForm {
  margin-top: -24px !important;
}

.boxFiltro {
  border: 1px solid #cecece;
  border-radius: 6px;
  padding: 16px;
  box-shadow: 3px 3px 3px #e8e8e8;
  margin: 0px 12px;
}

.formulario {
  margin: 0 auto 0;
  width: 80%;
  gap: 1em 2em;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  align-items: center;
  justify-content: center;
}

.styleRepor {
  box-shadow: 2px 5px 5px 5px #e8e8e8;
  display: flex;
  min-height: 320px;
}

.contP {
  width: 65%;
  height: 60%;
}

.contG {
  width: 88%;
  height: 50%;
  max-width: 88%;
  overflow-y: scroll;
  overflow-x: hidden;
}

div[role="group"] {
  width: 200px;
  margin-right: 8px;
}

.boton {
  margin-left: 8px;
}

h3 {
  color: var(--purple-01);
}

.styleIcon {
  font-size: 47px;
}

.styleVer {
  height: 95%;
  display: flex;
  align-items: center;
  margin-left: 65px;
  font-size: 16px;
  text-align: center;
}

.boxSelect {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

h1,
h4 {
  font-weight: 500;
  color: var(--purple-01);
  font-size: 20px;
  margin-bottom: 0;
}

table {
  table-layout: auto;
  width: 100% !important;
  text-align: center !important;
}

.divTabla {
  display: flex;
  align-items: center;
}

.styleText {
  text-align: right !important;
  padding-top: 22px;
  font-size: 13px;
}

.styleTextClient {
  text-align: left !important;
  border-right: 1px solid #cecece;
}

.thEstyleClient {
  text-align: left !important;
  padding-left: 12px;
}

.thEstyleResumenRonda {
  text-align: center !important;
  color: #3b58bd;
}

.colorVerde {
  color: #3ac47d;
  padding-right: 3px;
}

.colorAmarillo {
  color: #e8bc5b;
  padding-right: 3px;
}

.colorAzul {
  color: #007bff;
  padding-right: 3px;
}

.styleAnalito {
  border: 1px solid #cecece;
  border-radius: 6px;
  box-shadow: 3px 3px 3px #e8e8e8;
  cursor: pointer;
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

.styleAnalito:first-child {
  margin-left: 12px;
}

.boxAnalitos {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 16px;
  background: white;
  display: flex;
  align-items: center;
}

.boxAnalitosContainer {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  height: 54px;
  width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.boxAnalitosContainer::-webkit-scrollbar {
  display: none;
}

.arrow-left,
.arrow-right {
  background-color: #3b58bd;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.thEstyle {
  border-right: 1px solid #cecece;
}

.div-container {
  height: 100%;
}

.h-500p {
  height: 350px;
}

/* reporte 2 */

.grid-consolidado {
  display: flex;
  /* grid-template-columns: 1fr; */
  justify-content: end;
  gap: 0.5em;
  margin-bottom: 0.5em;
  margin-right: 1em;
}

.listas {
  list-style: none;
  line-height: 30px;
  padding: 0;
  text-align: center;
  color: black;
}

.listaCentro {
  text-align: center;
}

.listasEstilo {
  padding: 0 1em;
  border-right: 1px solid var(--gray-02);
}
.listas:nth-child(1) {
  text-align: end;
}

.grid-principal-reporte2 {
  width: 100%;
  margin-top: 2em;
  display: grid;
  grid-template-columns: 1fr;
}

.grid-table-info {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  width: 70%;
  height: 226px;
  margin: 0 auto 2em;
}

.grid-table-info2 {
  display: grid;
  grid-template-columns: repeat(8, auto);
  width: 90%;
  height: 226px;
  margin: 0 auto 2em;
}

.contiene-graficas {
  width: 100%;
  margin: 0 auto 2em;
}
/* reporte 2 */

::ng-deep .mat-radio-label {
  font-size: 12px;
}

/**/
.form-check-input {
  transform: scale(1.5); /* Aumenta el tamaño del checkbox */
  margin-right: 5px; /* Ajusta el margen derecho para separarlo de otros elementos */
  /* Cambia el color del checkbox */
  color: #2edad8; /* Puedes especificar cualquier color aquí */
}

.formulario_muestra {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 1em;
}

.form_muestra_analito {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
}

@media only screen and (max-width: 1024px) {
  .contG {
    max-width: 87%;
  }
  .formulario_muestra {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 1024px) {
  .contG {
    max-width: 87%;
  }
  .form_muestra_analito{
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 950px) {
  .contG {
    max-width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  .div-container {
    overflow-y: scroll;
  }
  .formulario_muestra {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 568px) {
  .contG {
    max-width: 70%;
  }
}

@media only screen and (max-width: 375px) {
  .contG {
    max-width: 50%;
  }
}
