<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 mt-4">
            <div class="card mt-3 mb-3 borderTable">
                <div class="col-12 d-flex justify-content-center">
                    <img class="imageSobreBorde" [src]="'area.png' | imageCdn">
                </div>
                <div class="row">
                    <div class="col p-3">
                        <img class="ml-3" style="cursor: pointer;" [src]="'home_icon.svg' | imageCdn" [hidden]="homeBtnHide" (click)="getHome()">
                    </div>
                </div>
                <div class="row justify-content-center mt-4">

                    <div class="col-12 titulo"> INDICADORES</div>
                    <div class="col-12 text-center" style="color: #434A49; font-size: 16px; font-weight: bolder;" [hidden]="selectIndHide"> Seleccione el Indicador que desea Visualizar</div>




                    <div class="col-11 col-lg-10 col-xl-10">


                        <!-- ** Seleccion Indicadores -->
                        <div class="row boxBtns" [hidden]="selectIndHide">


                            <div class="col-12">
                                <div class="row text-center">
                                    <div class="col-6 mb-3">

                                        <!-- ** Lista Indicadores desde API -->
                                        <ul class="list-group" *ngIf="indicadoresArr.length == 3" [hidden]="true">
                                            <li class="list-group-item border-0" *ngFor="let indicador of indicadoresArr; let i = index">
                                                <div class="card border-0" style="cursor: pointer;">
                                                    <div class="card-body p-0">
                                                        <div id="ind-{{i}}" class="indicador mb-2" (click)="selectedIndicatorByApi(indicador, i)">
                                                            <img class="mr-3" [src]="'n1_purple.png' | imageCdn" alt="Item Indicador">
                                                            <div class="d-block">
                                                                <p class="text-item">{{indicador.nameindicators}}</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>

                                        <!-- ** Lista Indicadores desde HARD CODE -->
                                        <ul class="list-group overflow-auto" style="height: 27rem;">
                                            <li class="list-group-item border-0">
                                                <div class="card border-0" style="cursor: pointer;">
                                                    <div class="card-body p-0">
                                                        <div #itemIndicador1 class="indicador mb-2" (click)="selectedIndicador(itemIndicador1, pItem1, 0)">
                                                            <img class="mr-3 img-ind" [src]="'n1_purple.png' | imageCdn" alt="Item Indicador">
                                                            <div class="d-block">
                                                                <p #pItem1 class="text-item">Informe de valores críticos al médico tratante(QT1)</p>


                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>

                                            <li class="list-group-item border-0">
                                                <div class="card border-0" style="cursor: pointer;">
                                                    <div class="card-body p-0">
                                                        <div #itemIndicador2 class="indicador mb-2" (click)="selectedIndicador(itemIndicador2, pItem2, 1)">
                                                            <img class="mr-3 img-ind" [src]="'n2_purple.png' | imageCdn" alt="Item Indicador">
                                                            <div class="d-block">
                                                                <p #pItem2 class="text-item">Tiempo (desde la validación del resultado hasta la comunicación del resultado al médico) para comunicar los valores críticos</p>


                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>

                                            <li class="list-group-item border-0">
                                                <div class="card border-0" style="cursor: pointer;">
                                                    <div class="card-body p-0">
                                                        <div #itemIndicador3 class="indicador mb-2" (click)="selectedIndicador(itemIndicador3, pItem3, 2)">
                                                            <img class="mr-3 img-ind" [src]="'n3_purple.png' | imageCdn" alt="Item Indicador">
                                                            <div class="d-block">
                                                                <p #pItem3 class="text-item">Tiempo de respuesta de la troponina (QT2)</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>

                                            <li class="list-group-item border-0">
                                                <div class="card border-0" style="cursor: pointer;">
                                                    <div class="card-body p-0">
                                                        <div #itemIndicador4 class="indicador mb-2" (click)="selectedIndicador(itemIndicador4, pItem4, 3)">
                                                            <img class="mr-3 img-ind" [src]="'n4_purple.png' | imageCdn" alt="Item Indicador">
                                                            <div class="d-block">
                                                                <p #pItem4 class="text-item">Tiempo de respuesta libreación de resultados (QT3)</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>

                                            <li class="list-group-item border-0">
                                                <div class="card border-0" style="cursor: pointer;">
                                                    <div class="card-body p-0">
                                                        <div #itemIndicador5 class="indicador mb-2" (click)="selectedIndicador(itemIndicador5, pItem5, 4)">
                                                            <img class="mr-3 img-ind" [src]="'n5_purple.png' | imageCdn" alt="Item Indicador">
                                                            <div class="d-block">
                                                                <p #pItem5 class="text-item">Puntuación media general de satisfacción con los servicios de laboratorio clínico (QT4)</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>

                                            <li class="list-group-item border-0">
                                                <div class="card border-0" style="cursor: pointer;">
                                                    <div class="card-body p-0">
                                                        <div #itemIndicador6 class="indicador mb-2" (click)="selectedIndicador(itemIndicador6, pItem6, 5)">
                                                            <img class="mr-3 img-ind" [src]="'n6_purple.png' | imageCdn" alt="Item Indicador">
                                                            <div class="d-block">
                                                                <p #pItem6 class="text-item">Número de informes con comentarios interpretativos, proporcionados en el informe médico, que impactan positivamente en (QT5)</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>

                                            <li class="list-group-item border-0">
                                                <div class="card border-0" style="cursor: pointer;">
                                                    <div class="card-body p-0">
                                                        <div #itemIndicador7 class="indicador mb-2" (click)="selectedIndicador(itemIndicador7, pItem7, 6)">
                                                            <img class="mr-3 img-ind" [src]="'n7_purple.png' | imageCdn" alt="Item Indicador">
                                                            <div class="d-block">
                                                                <p #pItem7 class="text-item">Recomendación de laboratorio (%) (QT6)</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item border-0">
                                                <div class="card border-0" style="cursor: pointer;">
                                                    <div class="card-body p-0">
                                                        <div #itemIndicador8 class="indicador mb-2" (click)="selectedIndicador(itemIndicador8, pItem8, 7)">
                                                            <img class="mr-3 img-ind" [src]="'n8_purple.png' | imageCdn" alt="Item Indicador">
                                                            <div class="d-block">
                                                                <p #pItem8 class="text-item">Precisión resultados (QT7)</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <!-- <li class="list-group-item border-0">
                                              <div class="card border-0" style="cursor: pointer;">
                                                  <div class="card-body p-0">
                                                      <div #itemIndicador2 class="indicador mb-2" (click)="selectedIndicador(itemIndicador2, pItem2, 1)">
                                                          <img class="mr-3 img-ind" [src]="'n2_purple.png' | imageCdn" alt="Item Indicador">
                                                          <div class="d-block">
                                                              <p #pItem2 class="text-item">Aceptabilidad de muestra de Laboratorio (Q2)</p>


                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </li>
                                          <li class="list-group-item border-0">
                                              <div class="card border-0" style="cursor: pointer;">
                                                  <div class="card-body p-0">
                                                      <div #itemIndicador3 class="indicador mb-2" (click)="selectedIndicador(itemIndicador3, pItem3, 2)">
                                                          <img class="mr-3 img-ind" [src]="'n3_purple.png' | imageCdn" alt="Item Indicador">
                                                          <div class="d-block">
                                                              <p #pItem3 class="text-item">Satisfacción con la recogida de muestras para pacientes Ambulatorios (Q3)</p>


                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </li>-->

                                        </ul>

                                    </div>


                                    <div class="col-6 img-bg-ind">
                                        <!-- <img class="img-select-ind" [src]="'ilustracion_config.svg' | imageCdn" alt="Configuración Indicadores"> -->
                                    </div>


                                </div>


                            </div>

                        </div>



                        <!-- ** Indicadores Configuracion -->

                        <div class="row" [hidden]="page1Hide">
                            <div class="col-12">


                                <!-- ** Indicador - Info -->
                                <div class="row mt-3">

                                    <div class="col-12 text-center mb-3">
                                        <div class="d-inline-flex">
                                            <div class="dot text-center"><span class="number">1</span></div>
                                            <hr class="line" />
                                            <div class="dot-border text-center"><span class="number">2</span></div>
                                            <hr class="line" />
                                            <div class="dot-border text-center">
                                                <span class="number">3</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- ** Titulo Indicador -->
                                <p class="mt-4" style="font-size: large;"><strong>{{tituloInd}}</strong></p>

                                <!-- cont form -->
                                <div class="row styleRowForm">

                                    <form [formGroup]="formulario" autocomplete="off" (submit)="setIndConfiguration()" *ngIf="formShow">

                                        <div class="row">
                                            <div class="col-12 boxForm">
                                                <!-- Meta -->
                                                <div role="group" class="mr-3">
                                                    <mat-label class="labelForm">Meta <span class="colorAsterisco"> *</span></mat-label>
                                                    <mat-form-field class="w100">
                                                        <input matInput type="number" formControlName="aim">
                                                        <mat-error *ngIf="aimNoValido.hasError('min') && !aimNoValido.hasError('required')" class="animated fadeIn">
                                                            Minimo 0%
                                                        </mat-error>
                                                        <mat-error *ngIf="aimNoValido.hasError('max') && !aimNoValido.hasError('required')" class="animated fadeIn">
                                                            Maximo 100%
                                                        </mat-error>
                                                        <mat-error *ngIf="aimNoValido.hasError('required')" class="animated fadeIn">
                                                            {{'MODULES.CAMPOS.CAMPOREQUIRED' | translate}}
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                                <!-- Unidad Medicion -->
                                                <div role="group" class="mr-3">
                                                    <mat-label class="labelForm">Unidad Medición<span class="colorAsterisco"> *</span></mat-label>
                                                    <mat-form-field>
                                                        <input matInput type="text" formControlName="unitofmeasurement">
                                                        <!-- <mat-select disableOptionCentering formControlName="unitofmeasurement">
                                                          <mat-option value="">--</mat-option>
                                                          <mat-option *ngFor="let unit of unidadesArr" [value]="unit.idunits">
                                                              {{ unit.codunits }}
                                                          </mat-option>
                                                      </mat-select> -->
                                                        <mat-error *ngIf="unitofmeasurementNoValido.hasError('minlength') && !unitofmeasurementNoValido.hasError('required') " class="animated fadeIn ">
                                                            {{'MODULES.CAMPOS.MINIMOUNO' | translate}}
                                                        </mat-error>
                                                        <mat-error *ngIf="unitofmeasurementNoValido.hasError('maxlength') && !unitofmeasurementNoValido.hasError('required') " class="animated fadeIn ">
                                                            {{'MODULES.CAMPOS.MAXIMOCINCUENTA' | translate}}
                                                        </mat-error>
                                                        <mat-error *ngIf="unitofmeasurementNoValido.hasError('required')" class="animated fadeIn">
                                                            {{'MODULES.CAMPOS.CAMPOREQUIRED' | translate}}
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                                <!-- Frecuencia Medición -->
                                                <div role="group" class="mr-3">
                                                    <mat-label class="labelForm">Frequencia medición<span class="colorAsterisco"> *</span></mat-label>
                                                    <mat-form-field>
                                                        <input matInput type="text" formControlName="measurementfrequency">
                                                        <!-- <mat-select disableOptionCentering formControlName="unitofmeasurement">
                                                        <mat-option value="">--</mat-option>
                                                        <mat-option *ngFor="let unit of unidadesArr" [value]="unit.idunits">
                                                            {{ unit.codunits }}
                                                        </mat-option>
                                                    </mat-select> -->
                                                        <mat-error *ngIf="measurementfrequencyNoValido.hasError('minlength') && !measurementfrequencyNoValido.hasError('required') " class="animated fadeIn ">
                                                            {{'MODULES.CAMPOS.MINIMODOS' | translate}}
                                                        </mat-error>
                                                        <mat-error *ngIf="measurementfrequencyNoValido.hasError('maxlength') && !measurementfrequencyNoValido.hasError('required') " class="animated fadeIn ">
                                                            {{'MODULES.CAMPOS.MAXIMOCINCUENTA' | translate}}
                                                        </mat-error>
                                                        <mat-error *ngIf="measurementfrequencyNoValido.hasError('required')" class="animated fadeIn">
                                                            {{'MODULES.CAMPOS.CAMPOREQUIRED' | translate}}
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                                <!-- Fuente -->
                                                <div role="group" class="mr-3">
                                                    <mat-label class="labelForm">Fuente Información <span class="colorAsterisco"> *</span></mat-label>
                                                    <mat-form-field>
                                                        <input matInput type="text" formControlName="sourceofinformation">
                                                        <mat-error *ngIf="sourceofinformationNoValido.hasError('minlength') && !sourceofinformationNoValido.hasError('required')" class="animated fadeIn">
                                                            {{'MODULES.CAMPOS.MINIMODOS' | translate}}
                                                        </mat-error>
                                                        <mat-error *ngIf="sourceofinformationNoValido.hasError('maxlength') && !sourceofinformationNoValido.hasError('required')" class="animated fadeIn">
                                                            {{'MODULES.CAMPOS.MAXIMOCINCUENTA' | translate}}
                                                        </mat-error>
                                                        <mat-error *ngIf="sourceofinformationNoValido.hasError('required')" class="animated fadeIn">
                                                            {{'MODULES.CAMPOS.CAMPOREQUIRED' | translate}}
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row ">
                                            <div class="col"></div>
                                            <div class="col-12 boxForm ">
                                                <!-- Responsable Medición -->
                                                <div role="group" class="mr-3">
                                                    <mat-label class="labelForm">Resposable Medición <span class="colorAsterisco"> *</span></mat-label>
                                                    <mat-form-field>
                                                        <input matInput type="text" formControlName="responsiblemeasurement">
                                                        <mat-error *ngIf="responsiblemeasurementNoValido.hasError('minlength') && !responsiblemeasurementNoValido.hasError('required')" class="animated fadeIn">
                                                            {{'MODULES.CAMPOS.MINIMODOS' | translate}}
                                                        </mat-error>
                                                        <mat-error *ngIf="responsiblemeasurementNoValido.hasError('maxlength') && !responsiblemeasurementNoValido.hasError('required')" class="animated fadeIn">
                                                            {{'MODULES.CAMPOS.MAXIMOCINCUENTA' | translate}}
                                                        </mat-error>
                                                        <mat-error *ngIf="responsiblemeasurementNoValido.hasError('required')" class="animated fadeIn">
                                                            {{'MODULES.CAMPOS.CAMPOREQUIRED' | translate}}
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                                <!-- Resposable Analisis -->
                                                <div role="group" class="mr-3">
                                                    <mat-label class="labelForm">Resposable Análisis <span class="colorAsterisco"> *</span></mat-label>
                                                    <mat-form-field>
                                                        <input matInput type="text" formControlName="headanalysis">
                                                        <mat-error *ngIf="headanalysisNoValido.hasError('minlength') && !headanalysisNoValido.hasError('required')" class="animated fadeIn">
                                                            {{'MODULES.CAMPOS.MINIMODOS' | translate}}
                                                        </mat-error>
                                                        <mat-error *ngIf="headanalysisNoValido.hasError('maxlength') && !headanalysisNoValido.hasError('required')" class="animated fadeIn">
                                                            {{'MODULES.CAMPOS.MAXIMOCINCUENTA' | translate}}
                                                        </mat-error>
                                                        <mat-error *ngIf="headanalysisNoValido.hasError('required')" class="animated fadeIn">
                                                            {{'MODULES.CAMPOS.CAMPOREQUIRED' | translate}}
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                            </div>

                                            <div class="col"></div>


                                        </div>

                                        <div class="row ">
                                            <div class="col-12 boxForm ">
                                                <!-- Descripcion del Indicador -->
                                                <div role="group">
                                                    <label class="labelForm" for="descriptionindicators">Descripción del Indicador<span class="colorAsterisco"> *</span></label>
                                                    <textarea formControlName="descriptionindicators" class="form-control styleForm3" autocomplete="off" rows="5" cols="100"></textarea>
                                                    <mat-error *ngIf="descriptionindicatorsNoValido.hasError('minlength')" class="animated fadeIn">{{'MODULES.CAMPOS.MINIMOTRES' | translate}}</mat-error>
                                                    <mat-error *ngIf="descriptionindicatorsNoValido.hasError('maxlength')" class="animated fadeIn">{{'MODULES.CAMPOS.MAXIMOCUATROCIENTOS' | translate}}</mat-error>
                                                    <mat-error *ngIf="descriptionindicatorsNoValido.invalid  && descriptionindicatorsNoValido.touched && !descriptionindicatorsNoValido.hasError('minlength') && !descriptionindicatorsNoValido.hasError('maxlength') && !descriptionindicatorsNoValido.hasError('pattern')"
                                                        class="animated fadeIn">{{'MODULES.CAMPOS.CAMPOREQUIRED' | translate}}</mat-error>
                                                    <mat-error *ngIf="descriptionindicatorsNoValido.hasError('pattern') && !descriptionindicatorsNoValido.hasError('minlength') && !descriptionindicatorsNoValido.hasError('maxlength')" class="animated fadeIn">{{'MODULES.CAMPOS.EMAIL' | translate}}</mat-error>
                                                </div>

                                            </div>
                                        </div>


                                        <div class="col-12 contBtn mt-5 ">
                                            <button class="boton float-right">Siguiente</button>
                                        </div>

                                    </form>

                                </div>

                            </div>
                        </div>

                        <!-- Seleccion Areas - Turnos -->
                        <div class="row" [hidden]="page2Hide">
                            <div class="col-12">


                                <!-- ** Indicador - Info -->
                                <div class="row mt-3">

                                    <div class="col-12 text-center mb-3">
                                        <div class="d-inline-flex">
                                            <div class="dot-border text-center"><span class="number">1</span></div>
                                            <hr class="line" />
                                            <div class="dot text-center"><span class="number">2</span></div>
                                            <hr class="line" />
                                            <div class="dot-border text-center">
                                                <span class="number">3</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <!-- Areas y Turnos -->
                                <div class="row mt-5">
                                    <div class="col-6">
                                        <p class="text-nowrap text-item ">Áreas</p>
                                        <p>Desliza hacia la derecha las áreas necesarias</p>

                                        <div class="row">
                                            <div class="col-6 text-center p-2">
                                                <div class="example-container">
                                                    <div cdkDropList #todoAreaList="cdkDropList" class="example-list" [cdkDropListData]="menuListPending" [cdkDropListConnectedTo]="[doneAreaList]" (cdkDropListDropped)="drop($event)">
                                                        <div class="example-box" *ngFor="let item of menuListPending" cdkDrag [cdkDragDisabled]="item.disabled">
                                                            <i class="fas fa-grip-vertical mr-2 bg-sidemenu"></i>{{item.desarea}}
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                            <div class="col-6">
                                                <div class="example-container-done">
                                                    <div cdkDropList #doneAreaList="cdkDropList" class="example-list-done" [cdkDropListData]="areasArrDone" [cdkDropListConnectedTo]="[todoAreaList]" (cdkDropListDropped)="drop($event)">
                                                        <div class="example-box-done" *ngFor="let item of areasArrDone" cdkDrag>
                                                            <i class="fas fa-grip-lines-vertical mr-2 bg-sidemenu"></i>{{item.desarea}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-6">
                                        <p class="text-nowrap text-item ">Turnos</p>
                                        <p>Desliza hacia la derecha la jornada que se requiera</p>

                                        <div class="row">
                                            <div class="col-6 text-center p-2">
                                                <div class="example-container">
                                                    <div cdkDropList #todoTurnoList="cdkDropList" class="example-list" [cdkDropListData]="turnosPending" [cdkDropListConnectedTo]="[doneTurnoList]" (cdkDropListDropped)="drop($event)">
                                                        <div class="example-box" *ngFor="let item of turnosPending" cdkDrag [cdkDragDisabled]="item.disabled">
                                                            <i class="fas fa-grip-vertical mr-2 bg-sidemenu"></i>{{item.desturns}}
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                            <div class="col-6">
                                                <div class="example-container-done">
                                                    <div cdkDropList #doneTurnoList="cdkDropList" class="example-list-done" [cdkDropListData]="turnosArrDone" [cdkDropListConnectedTo]="[todoTurnoList]" (cdkDropListDropped)="drop($event)">
                                                        <div class="example-box-done" *ngFor="let item of turnosArrDone" cdkDrag>
                                                            <i class="fas fa-grip-lines-vertical mr-2 bg-sidemenu"></i>{{item.desturns}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <!-- Btns Next - Back -->
                                <div class="row">
                                    <div class="col-6 contBtn mt-5 ">
                                        <button type="button" class="boton-back" (click)="getBackPage2()">Atrás</button>
                                    </div>
                                    <div class="col-6 contBtn mt-5 ">
                                        <button type="button" class="boton float-right" (click)="getNext2()">Siguiente</button>
                                    </div>
                                </div>


                            </div>
                        </div>


                        <!-- Guardado Correctamente -->
                        <div class="row" [hidden]="page3Hide">
                            <div class="col-12">


                                <!-- ** Indicador - Info -->
                                <div class="row mt-3">

                                    <div class="col-12 text-center mb-3">
                                        <div class="d-inline-flex">
                                            <div class="dot-border text-center"><span class="number">1</span></div>
                                            <hr class="line" />
                                            <div class="dot-border text-center"><span class="number">2</span></div>
                                            <hr class="line" />
                                            <div class="dot text-center">
                                                <span class="number">3</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <!-- modal -->
                                <div class="row mt-5">
                                    <div class="col"></div>
                                    <div class="col-6">
                                        <div class="card border-0">
                                            <div class="card-body card-modal">
                                                <div class="row ">
                                                    <div class="col flex2 ">
                                                        <img class="img " [src]=" 'check.png' | imageCdn ">

                                                        <h3 class="tituloModal ">Información Guardada</h3>
                                                        <div class="hr "></div>
                                                        <p>Correctamente</p>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col"></div>

                                </div>

                                <!-- Btns Next - Back -->
                                <div class="row">
                                    <div class="col-6 contBtn mt-5 ">
                                        <button type="button" class="boton-back" (click)="getBackPage3()">Atrás</button>
                                    </div>
                                    <div class="col-6 contBtn mt-5 ">
                                        <button type="button" class="boton float-right" (click)="getHome()">Finalizar</button>
                                    </div>
                                </div>


                            </div>
                        </div>



                    </div>
                    <br>
                    <br>
                    <br>
                </div>


            </div>

        </div>
    </div>
</div>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white;">Por favor, espere.</p>
</ngx-spinner>
<!-- ***Modals -->
<!--
<ng-template #templateRegistroIndicador>
  <div class="modal-header ">
      <button type="button " class="close pull-right " arial-label="Close " (click)="closeVentana() ">
        <span aria-hidden="true ">&times;</span>
      </button>
  </div>
  <div class="modal-body ">
      <div class="row ">
          <div class="col flex2 ">
              <img *ngIf="accionEditar " class="img " [src]=" 'edit.png' | imageCdn ">
              <img class="img " [src]=" 'crear2.png' | imageCdn ">
              <h3 class="tituloModal ">{{tituloAccion}}</h3>
              <div class="hr "></div>

          </div>
      </div>
      <form [formGroup]="formaRegistroIndicadores " (ngSubmit)="crearEditarIndicadores() ">
          <div class="form-row ">
              <div class="col-sm-8 form-group ">
                  <div role="group ">
                      <label class="labelForm " for="desarea ">
                        Nombre área
                          <span class="colorAsterisco "> *</span></label>
                      <input formControlName="desarea " type="text " class="form-control " [ngClass]="!accionEditar ? 'styleForm' : 'styleForm2' " id="desarea " autocomplete="off ">
                      <small *ngIf="desNoValido.errors?.minlength " class="animated fadeIn ">{{'MODULES.CAMPOS.MINIMODOS' | translate}}</small>
                      <small *ngIf="desNoValido.errors?.maxlength " class="animated fadeIn ">{{'MODULES.CAMPOS.MAXIMOCINCUENTA' | translate}}</small>
                      <small *ngIf="desNoValido.invalid && desNoValido.touched && !desNoValido.errors?.minlength && !desNoValido.errors?.maxlength " class="animated fadeIn ">{{'MODULES.CAMPOS.CAMPOREQUIRED' | translate}}</small>
                  </div>
              </div>

              <div class="col-sm-4 form-group btnActive ">
                  <div role="group ">
                      <label class="labelForm " for="active ">Estado</label><br>
                      <mat-slide-toggle formControlName="active "></mat-slide-toggle>
                  </div>
              </div>
          </div>
          <div class="form-row ">
              <div class="col-12 boxBtnAceptCancel ">
                  <button [disabled]="desactivar " class="boton btnAceptar " type="submit ">Aceptar</button>
                  <button class="botonCancelar btnCancel " type="button " (click)="closeVentana() ">Cancelar</button>
              </div>
          </div>
      </form>
  </div>
</ng-template>
-->

<!-- **Modal Eliminar -->
<!--
   <ng-template #templateEliminarIndicador>
  <div class="modal-header ">
      <button type="button " class="close pull-right " arial-label="Close " (click)="closeVentana() ">
        <span aria-hidden="true ">&times;</span>
      </button>
  </div>
  <div class="modal-body ">
      <div class="row ">
          <div class="col flex2 ">
              <img class="img " [src]=" 'delete.png' | imageCdn ">

              <h3 class="tituloModal ">{{tituloAccion}}</h3>
              <div class="hr "></div>
              <p>Se elimina Área de manera permanente</p>

          </div>
      </div>

      <div class="form-row ">
          <div class="col-12 boxBtnAceptCancel ">
              <button class="boton btnAceptar " type="button " (click)="eliminarIndicador(indicador.idindicators) ">Si</button>
              <button class="botonCancelar btnCancel " type="button " (click)="closeVentana() ">No</button>
          </div>
      </div>

  </div>
</ng-template>
-->

<!-- **Modal Guardado -->
<!--
  <ng-template #templateGuardadoIndicador>
  <div class="modal-header ">
      <button type="button " class="close pull-right " arial-label="Close " (click)="closeVentana() ">
        <span aria-hidden="true ">&times;</span>
      </button>
  </div>
  <div class="modal-body ">
      <div class="row ">
          <div class="col flex2 ">
              <img class="img " [src]=" 'check.png' | imageCdn ">

              <h3 class="tituloModal ">{{tituloAccion}}</h3>
              <div class="hr "></div>
              <p>Correctamente</p>

          </div>
      </div>

      <div class="form-row ">
          <div class="col-12 boxBtnAceptCancel ">
              <button class="boton btnAceptar " type="button " (click)="eliminarIndicador(indicador.idindicators) ">Si</button>
              <button class="botonCancelar btnCancel " type="button " (click)="closeVentana() ">No</button>
          </div>
      </div>

  </div>
</ng-template>
-->