<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<system.web>
		<httpCookies requireSSL="true" httpOnlyCookies="true" sameSite="None" />
	</system.web>
    <system.webServer>
	
	<rewrite>
		<outboundRules>
			<rule name="Add SameSite Cookie Flag to ArrAffinity cookie" enabled="false">
				<match serverVariable="RESPONSE_Set_Cookie" pattern=".*" />
					<conditions>
						<add input="{R:0}" pattern="ARRAffinity=(.*)" ignoreCase="true" negate="true" />
					</conditions>
				<action type="Rewrite" value="{HTTP_COOKIE};Path=/;HttpOnly;SameSite=None;secure" />
			</rule>
		</outboundRules>
	</rewrite>
	
	  <security>
	   <requestFiltering>
		<verbs allowUnlisted="false">
		 <add verb="GET" allowed="true" />
		 <add verb="POST" allowed="true" />
		 <add verb="DELETE" allowed="true" />
		 <add verb="PUT" allowed="true" />
		 <add verb="HEAD" allowed="false" />
		 <add verb="OPTIONS" allowed="false" />
		</verbs>
	   </requestFiltering>
	  </security>
	  
        <staticContent>
            <remove fileExtension=".json" />
            <remove fileExtension=".woff" />
            <remove fileExtension=".woff2" />
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
            <mimeMap fileExtension=".woff2" mimeType="application/font-woff" />      
        </staticContent>
    </system.webServer>
</configuration>